{% if current_user.is_authenticated %}
    {% extends "stock_base.html" %}
{% else %}
    {% extends "stock_base_visitor.html" %}
{% endif %}

{% block current_user %}
    当前用户：{{ current_user.username }}
{% endblock %}

{% block styles %}
{% endblock %}

{% block body %}
    <div class="parent" style="width:100%;height:auto;text-align: center;background-color: rgba(161,252,146,0.11);">
        {% block tab %}{% endblock %} <!--annual和status两个表的height不一样-->
    </div>
    {% block navigation %} {% endblock %}
    {% block scripts %} {% endblock %}<!--auto complete-->
{% endblock %}

<SCRIPT Language=VBScript><!--

//-->

</SCRIPT>