<!-- 这个网页是区别于cns_stock_industry.html，因为有冲突所以删除了分页功能-->
{% extends "industry_analysis/industry_analysis_base.html" %}

{% block fixTable %}
    <script>
			$(document).ready(function() {
				$("#fixTable").tableHeadFixer({"left" : 3});
			});
    </script>
{% endblock %}

{% block tab %}
    <ul class="nav nav-pills">
        <li><a href="{{ url_for('industry_analysis.industry_status') }}">A.市场概况</a></li>
        <li class="dropdown"> <!--tip 可以同时写两个属性-->
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                B.行业状况 <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="{{ url_for('industry_analysis.industry_status',parameter=1) }}">部门</a></li>
                <li><a href="{{ url_for('industry_analysis.industry_status',parameter=2) }}">行业组</a></li>
                <li><a href="{{ url_for('industry_analysis.industry_status',parameter=3) }}">行业</a></li>
                <li><a href="{{ url_for('industry_analysis.industry_status',parameter=4) }}">子行业</a></li>
            </ul>
        </li>
        <li><a>C.图表分析</a></li>
        <li class="active"><a href="{{ url_for('industry_analysis.industry_classify') }}">1.上市公司名单</a></li>
        <li><a>2.制图数据</a></li>
        <li class="active"><a href="{{ url_for('industry_analysis.annual_table') }}">年度表.A</a></li>
        <li class="dropdown"> <!--tip 可以同时写两个属性-->
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                年度表.B <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="{{ url_for('industry_analysis.annual_table_b',parameter=1) }}">部门</a></li>
                <li><a href="{{ url_for('industry_analysis.annual_table_b',parameter=2) }}">行业组</a></li>
                <li><a href="{{ url_for('industry_analysis.annual_table_b',parameter=3) }}">行业</a></li>
                <li><a href="{{ url_for('industry_analysis.annual_table_b',parameter=4) }}">子行业</a></li>
            </ul>
        </li>
    </ul>
{% endblock %}

{% block container %}
<!-- 模态框 组 -->
<div class="modal fade" id="department_industry" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					筛选：部门bumen
				</h4>
			</div>
        <form class="form-search" method="POST" action="{{ url_for('.cns_filter') }}">
			<div class="modal-body">
                {{ cns_filterform1.hidden_tag() }}
                {{ cns_filterform1.gics_code(class_='input-md form-control') }} <!-- (class_='')这种方法指定class类 -->
			</div>
			<div class="modal-footer">
                <a href="{{ url_for('.cns_home') }}">
                    <input type="button" class="btn btn-default" value="重置" contenteditable="true" >
                </a>
				<input type="submit" class="btn btn-primary" value="筛选" contenteditable="true" >
			</div>
        </form>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>
<div class="modal fade" id="group_industry" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					筛选：行业组
				</h4>
			</div>
		<form class="form-search" method="POST" action="{{ url_for('.cns_filter') }}">
			<div class="modal-body">
                {{ cns_filterform2.hidden_tag() }}
                {{ cns_filterform2.gics_code(class_='input-md form-control') }} <!-- (class_='')这种方法指定class类 -->
			</div>
			<div class="modal-footer">
                <a href="{{ url_for('.cns_home') }}">
                    <input type="button" class="btn btn-default" value="重置" contenteditable="true" >
                </a>
				<input type="submit" class="btn btn-primary" value="筛选" contenteditable="true" >
			</div>
        </form>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>
<div class="modal fade" id="industry_why" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					筛选：行业
				</h4>
			</div>
		<form class="form-search" method="POST" action="{{ url_for('.cns_filter') }}">
			<div class="modal-body">
                {{ cns_filterform3.hidden_tag() }}
                {{ cns_filterform3.gics_code(class_='input-md form-control') }} <!-- (class_='')这种方法指定class类 -->
			</div>
			<div class="modal-footer">
                <a href="{{ url_for('.cns_home') }}">
                    <input type="button" class="btn btn-default" value="重置" contenteditable="true" >
                </a>
				<input type="submit" class="btn btn-primary" value="筛选" contenteditable="true" >
			</div>
        </form>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>
<div class="modal fade" id="sub_industry" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					筛选：子行业
				</h4>
			</div>
		<form class="form-search" method="POST" action="{{ url_for('.cns_filter') }}">
			<div class="modal-body">
                {{ cns_filterform4.hidden_tag() }}
                {{ cns_filterform4.gics_code(class_='input-md form-control') }} <!-- (class_='')这种方法指定class类 -->
			</div>
			<div class="modal-footer">
                <a href="{{ url_for('.cns_home') }}">
                    <input type="button" class="btn btn-default" value="重置" contenteditable="true" >
                </a>
				<input type="submit" class="btn btn-primary" value="筛选" contenteditable="true" >
			</div>
        </form>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>

<div style="height:60%;">
<table id="fixTable"  style="border-color:#000;white-space: nowrap;"> <!--border="1"有无会有点区别-->
    <thead>
        <tr bgcolor="#CC0000">
            <td><font color="white">证券代码</font></td>
            <td><font color="white">证券名称</font></td>
            <td><font color="white">上市时间</font></td>
            <td>
                <font color="white">部门</font>
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li data-toggle="modal" data-target="#department_industry"><a href="#">筛选</a></li>

                </ul>
            </td>
            <td>
                <font color="white">行业组</font>
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li data-toggle="modal" data-target="#group_industry"><a href="#">筛选</a></li>

                </ul>
            </td>
            <td>
                <font color="white">行业</font>
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li data-toggle="modal" data-target="#industry_why"><a href="#">筛选</a></li>

                </ul>
            </td>
            <td>
                <font color="white">子行业</font>
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li data-toggle="modal" data-target="#sub_industry"><a href="#">筛选</a></li>
                </ul>
            </td>
            <td><font color="white">证监会一级行业分类</font></td>
            <td><font color="white">证监会二级行业分类</font></td>
        </tr>
    </thead>
    <tbody>
        {% for x in range(length) %}
            <tr>
                <td style="border: none;">{{ result[x][0].trade_code }}</td>
                <td style="border: none;">{{ result[x][0].sec_name }}</td>
                <td style="border: none;">{{ result[x][0].ipo_date }}</td>
                <td style="border: none;">{{ result[x].industry_gics_1 }}</td>
                <td style="border: none;">{{ result[x].industry_gics_2 }}</td>
                <td style="border: none;">{{ result[x].industry_gics_3 }}</td>
                <td style="border: none;">{{ result[x].industry_gics_4 }}</td>
                <td style="border: none;">{{ result[x].industry_CSRC12 }}</td>
                <td style="border: none;">{{ result[x][0].industry_CSRC12 }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}

<SCRIPT Language=VBScript><!--

//--></SCRIPT>