{% extends "industry_analysis/industry_analysis_base.html" %}

{% block tab %}
    <ul class="nav nav-pills">
        <li class="active"><a href="{{ url_for('.market_status') }}">A.市场概况</a></li>
        <li><a href="{{ url_for('.market_value') }}">B.图表分析</a></li>
        <li class="dropdown"> <!--tip 可以同时写两个属性-->
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                C.行业状况 <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="{{ url_for('.industry_status',parameter=1) }}">部门</a></li>
                <li><a href="{{ url_for('.industry_status',parameter=2) }}">行业组</a></li>
                <li><a href="{{ url_for('.industry_status',parameter=3) }}">行业</a></li>
                <li><a href="{{ url_for('.industry_status',parameter=4) }}">子行业</a></li>
            </ul>
        </li>
        <li><a href="{{ url_for('.cns_home') }}">上市公司名单</a></li>
        <li><a href="{{ url_for('.annual_table') }}">年度表A</a></li>
        <li class="dropdown"> <!--tip 可以同时写两个属性-->
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                年度表B <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="{{ url_for('.annual_table_b',parameter=1) }}">部门</a></li>
                <li><a href="{{ url_for('.annual_table_b',parameter=2) }}">行业组</a></li>
                <li><a href="{{ url_for('.annual_table_b',parameter=3) }}">行业</a></li>
                <li><a href="{{ url_for('.annual_table_b',parameter=4) }}">子行业</a></li>
            </ul>
        </li>
    </ul>
{% endblock %}

{% block container %}
    <div style="height:auto;max-height:80%;overflow-y:auto;border: 1px inset">
        <table style="width: 100%;"> <!--绝对宽度对吗？？-->
            <tr class="1">
                <td rowspan="3" style="border: 1px outset"><img src="../static/logo.png"></td>
                <td colspan="11" rowspan="2"><br><br></td>
            </tr>
            <tr class="2">
            </tr>
            <tr class="3" style="background-color: #FF3300;">
                <td><font style="color: white">财务指标</font></td>
                {% for x in range(10) %} <!--说明：10是因为总共显示十年的数据-->
                    <td style="text-align: center"><font style="color: white">{{ rs_list[x].the_year[:4] }}年度</font>
                    </td>
                {% endfor %}
            </tr>
            <tr class="4">
                <td rowspan="20"></td>
                <td>营业总收入</td>
                {% for x in range(10) %}
                    <td style="text-align: center">{{ (rs_list[x].tot_oper_rev/100000000)|round(2) }}</td>
                {% endfor %}
            </tr>
            <tr class="6">
                <td>净利润总和</td>
                {% for x in range(10) %}
                    <td style="text-align: center">{{ (rs_list[x].net_profit_is/100000000)|round(2) }}</td>
                {% endfor %}
            </tr>
            <tr class="7">
                <td>归属股东利润总和</td>
                {% for x in range(10) %}
                    <td style="text-align: center">{{ (rs_list[x].wgsd_net_inc/100000000)|round(2) }}</td>
                {% endfor %}
            </tr>
            <tr class="8">
                <td>总资产总和</td>
                {% for x in range(10) %}
                    <td style="text-align: center">{{ (rs_list[x].tot_assets/100000000)|round(2) }}</td>
                {% endfor %}
            </tr>
            <tr class="9">
                <td>总负债总和</td>
                {% for x in range(10) %}
                    <td style="text-align: center">{{ (rs_list[x].tot_liab/100000000)|round(2) }}</td>
                {% endfor %}
            </tr>
            <tr class="10">
                <td>净资产总和</td>
                {% for x in range(10) %}
                    <td style="text-align: center">{{ (rs_list[x].net_assets/100000000)|round(2) }}</td>
                {% endfor %}
            </tr>
            <tr class="11">
                <td>股东权益总和</td>
                {% for x in range(10) %}
                    <td style="text-align: center">{{ (rs_list[x].wgsd_com_eq/100000000)|round(2) }}</td>
                {% endfor %}
            </tr>
            <tr class="12">
                <td>经营性现金流总和</td>
                {% for x in range(10) %}
                    <td style="text-align: center">{{ (rs_list[x].operatecashflow_ttm2/100000000)|round(2) }}</td>
                {% endfor %}
            </tr>
            <tr class="13">
                <td>投资性现金流总和</td>
                {% for x in range(10) %}
                    <td style="text-align: center">{{ (rs_list[x].investcashflow_ttm2/100000000)|round(2) }}</td>
                {% endfor %}
            </tr>
            <tr class="14">
                <td>融资性现金流总和</td>
                {% for x in range(10) %}
                    <td style="text-align: center">{{ (rs_list[x].financecashflow_ttm2/100000000)|round(2) }}</td>
                {% endfor %}
            </tr>
            <tr class="15">
                <td>总现金流总和</td>
                {% for x in range(10) %}
                    <td style="text-align: center">{{ (rs_list[x].cashflow_ttm2/100000000)|round(2) }}</td>
                {% endfor %}
            </tr>
            <tr class="14">
                <td>自由现金流估计</td>
                {% for x in range(10) %}
                    <td style="text-align: center">{{ (rs_list[x].free_cash_flow/100000000)|round(2) }}</td>
                {% endfor %}
            </tr>
            <tr class="15">
                <td>平均净利润率</td>
                {% for x in range(10) %}
                    <td style="text-align: center">{{ rs_list[x].net_profit_rate|round(3) }}</td>
                {% endfor %}
            </tr>
            <tr class="15">
                <td>平均总资产周转率</td>
                {% for x in range(10) %}
                    <td style="text-align: center">{{ rs_list[x].tot_assets_turnover|round(3) }}</td>
                {% endfor %}
            </tr>
            <tr class="16">
                <td>平均权益乘数</td>
                {% for x in range(10) %}
                    <td style="text-align: center">{{ rs_list[x].equ_multi|round(3) }}</td>
                {% endfor %}
            </tr>
            <tr class="18">
                <td>平均净资产收益率（总额）</td>
                {% for x in range(10) %}
                    <td style="text-align: center">{{ rs_list[x].roe_tot|round(3) }}</td>
                {% endfor %}
            </tr>
            <tr class="19">
                <td>平均净资产收益率（股东）</td>
                {% for x in range(10) %}
                    <td style="text-align: center">{{ rs_list[x].roe_holder|round(3) }}</td>
                {% endfor %}
            </tr>
            <tr class="20">
                <td>上市公司数量</td>
                {% for x in range(10) %}
                    <td style="text-align: center">{{ rs_list[x].company_num }}</td>
                {% endfor %}
            </tr>
        </table>
    </div>
{% endblock %}

<SCRIPT Language=VBScript><!--

//-->



</SCRIPT>