{% extends "stock_base.html" %}
{% block current_user %}
    {{ current_user.username }}
{% endblock %}

{% block body %}
    <style>

        .mytext {
            height: 150px;
            width: 96%;
            margin-top: 5px;
            margin-left: 2%;
        }

        .mytitle {
            height: 20px;
            width: 96%;
            margin-top: 15px;
            margin-left: 2%;
        }

        .fbbutton {
            height: 30px;
            width: 100px;
            background-color: #555555;
            border: none;
            color: white;
            text-align: center;
            font-kerning: normal;
            text-decoration: none;
            display: inline-block;
            font-family: KaiTi;
            border-radius: 12px;
            font-size: 20px;
            float: right;
            margin-top: 10px;
            margin-right: 2%;
        }

        .grbox {
            height: 240px;
            width: 260px;
            background-color: lightyellow;
            position: absolute;
            z-index: 999;
            display: none;
        }

        .box_top {
            height: 130px;
            width: 260px;
            float: right;
            background-color: aliceblue;
            margin-top: 0;
            position: absolute;
        }

        .box_photo {
            height: 80px;
            width: 80px;
            border-radius: 50%;
            margin-top: 80px;
            float: left;
            margin-left: 90.5px;
            background-color: white;
            position: absolute;
        }

        .my_photo {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            float: left;
            margin-top: 0;
            margin-left: 10px;
            background-color: #afd9ee;
        }

        .box_bottom {
            height: 60px;
            width: 260px;
            margin-top: 175px;
            position: absolute;
        }

        .item_prose {
            height: 50px;
            width: 60px;
            float: left;
            margin-left: 21px;
        }

        .item_follow {
            height: 50px;
            width: 60px;
            float: left;
            margin-left: 10px;
        }

        .item_fans {
            height: 50px;
            width: 60px;
            float: left;
            margin-left: 10px;
        }

        .text_count {
            height: 19px;
            width: 36px;
            text-align: center;
            margin-top: 5px;
            margin-left: 15px;
            font-size: 18px;
            font-family: 'Adobe Heiti Std';
            color: black;
        }

        .text_atr {
            height: 19px;
            width: 36px;
            text-align: center;
            margin-top: 2px;
            margin-left: 12px;
            font-size: 15px;
            font-family: 'Adobe Heiti Std';
            color: black;
        }

        .line_bor {
            height: 40px;
            width: 1px;
            float: left;
            margin-top: 5px;
            margin-left: 10px;
            background-color: black;
        }

        .post_function {
            float: left;
            width: 100%;
            height: 25px;
            background-color: white;
            margin-top: 5px;
            display: inline-block;
            border-top: 0.1px solid darkgray;
        }

        .to_retrant {
            width: 7.3%;
            border-radius: 5px;
            background-color: white;
            float: left;
            margin-left: 13%;
            margin-top: 0;
            border: none;
            text-align: center;
        }

        .to_comment {
            width: 7.3%;
            border-radius: 5px;
            background-color: white;
            float: left;
            margin-left: 13%;
            margin-top: 0;
            border: none;
            text-align: center;
        }

        .to_upvote {
            width: 7.3%;
            border-radius: 5px;
            background-color: white;
            float: left;
            margin-left: 13%;
            margin-top: 0;
            border: none;
            text-align: center;
        }

        .line {
            width: 0.05%;
            height: 19px;
            background-color: darkgray;
            float: left;
            margin-left: 13%;
            margin-top: 3px;
        }

        .to_follow {
            border-radius: 5px;
            float: right;
            background-color: lightyellow;
            margin-right: 15px;
            margin-top: 10px;
            border: none;
            text-align: center;
        }

        .no_follow {
            border-radius: 5px;
            float: right;
            background-color: lightyellow;
            margin-right: 15px;
            margin-top: 10px;
            border: none;
            text-align: center;
        }

        .post_comment {
            display: none;
            width: 100%;
            height: auto;
            float: left;
            margin-left: 0;
            margin-top: 10px;
        }

        .comment_input {
            width: 84%;
            height: 20px;
            float: left;
            margin-left: 5px;
            margin-top: 5px;
            border-radius: 10px;
        }

        .to_release {
            border-radius: 5px;
            background-color: #edeeff;
            float: left;
            margin-left: 20px;
            margin-top: 5px;
            border: none;
            text-align: center;
        }

        .to_withdraw {
            border-radius: 5px;
            background-color: #edeeff;
            float: left;
            margin-left: 20px;
            margin-top: 5px;
            border: none;
            text-align: center;
        }

        .person {
            width: auto;
            height: 18px;
            float: left;
            font-size: 17px;
            font-weight: 800;
            color: black;
        }

        .my_retrant {
            width: 100%;
            background-color: #fdf59a;
            background-color: #FFFDEE;
        }

    </style>
    {#    发私信模态框#}
    <div class="modal hide fade" id="send_personal_message_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">发送私信</h4>
                </div>
                <div class="modal-body">
                    <div class="input-group" style="margin-left:10px;width:450px">
                        <input type="text" class="span3 form-control" id="reciver" style="height: 30px;width:100%"
                               placeholder="接收人" name="receiver">

                        <ul class="dropdown-menu" role="menu" style="left: 0!important;"></ul>
                    </div>
                    <div class="input-group" style="width:450px">
                        <textarea id="message_content" class="mytext" placeholder=""></textarea>
                        <ul class="dropdown-menu" role="menu" style="left: 0!important;"></ul>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" onclick="send_personal_message()">发送</button>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    {#    管理员群发消息模态框#}
    <div class="modal hide fade" id="send_admin_message_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">管理员消息</h4>
                </div>
                <div class="modal-body">
                    <div class="input-group" style="margin-left:10px;height:200px;overflow:auto;float:left">
                        <table id="user_list">
                            <thead>
                            <tr>
                                <th>选中</th>
                                <th>用户</th>
                            </tr>
                            </thead>
                            <tbody id="user_tbody">

                            </tbody>
                        </table>
                    </div>
                    <div class="input-group" style="width:300px;float:left">
                        <textarea id="admin_message_content" class="mytext" placeholder=""></textarea>
                        <ul class="dropdown-menu" role="menu" style="left: 0!important;"></ul>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" onclick="send_admin_message()">发送</button>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <div class="span9">
        <div class="content">

            <div class="btn-controls">

                <!--消息发布-->
                <div class="btn-box-row row-fluid">
                    <div class="module span12">
                        <div class="module-body">
                            <div style="margin: auto;width:95%;height:230px;">
                                <div class="mytitle"><h4 style="font-size:18px;color:gray">有疑问？快来看看大家都是怎么想的吧！</h4></div>
                                <textarea id="inputtext" class="mytext" placeholder=""></textarea>
                                <button type="submit" id="fbbutton" class="fbbutton">点击发布</button>

                            </div>
                        </div>
                    </div>
                </div>

                <!--消息显示-->
                <div class="btn-box-row row-fluid">

                    <div class="module span12" style="background-color: rgba(0,0,0,0);border: 0">
                        <div id="myshow" class="module span12" style="background-color: rgba(0,0,0,0);border: 0">
                            <div class="nav" style="float:left;margin:auto;width:100%;background-color:white">
                                <ul id="mynav" class="nav nav-tabs nav-justified">
                                    <li class="active"><a href="#all_message" data-toggle="tab">全部动态</a></li>
                                    <li><a href="#follow_message" data-toggle="tab">我的关注</a></li>
                                    <li><a href="#my_message" data-toggle="tab">我的动态</a></li>
                                    <li><a href="#accept_message" data-toggle="tab">消息私信</a></li>
                                </ul>
                            </div>
                            <div id="mytext" class="tab-content" style="margin-left:0 ;width:100%;height:auto;">
                                <div id="all_message" class="tab-pane fade in active"
                                     style="float:left;margin-left:0;width:100%;height:auto;">
                                    <div id="all_post" class="module span12"
                                         style="background-color: rgba(0,0,0,0);border:0;float:left;margin-left:0;width:100%;height:auto;"></div>
                                    <ul id="my_pagination" class="pagination" style="float:right;margin-top: 0"></ul>
                                    <div class="modal hide fade in" style="display: none; " id="all_message_modal"
                                         tabindex="-1"
                                         role="dialog"
                                         aria-labelledby="myModalLabel"
                                         aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <!-- 模态框头部 -->
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;
                                                    </button>
                                                    <h4 class="modal-title">转发</h4>
                                                </div>
                                                <!-- 模态框主体 -->
                                                <div class="modal-body">
                                                    <div id="retrant" style="height:170px;width:500px;margin:0 auto">
                                                        <textarea id="inputretrant" class="mytext"
                                                                  placeholder=""></textarea>
                                                    </div>
                                                </div>
                                                <!-- 模态框底部 -->
                                                <div class="modal-footer">
                                                    <button type="button" class="fbbutton" data-dismiss="modal"
                                                            id="myid">确认发布
                                                    </button>
                                                </div>
                                            </div><!-- /.modal-content -->
                                        </div><!-- /.modal-dialog -->
                                    </div>
                                    <div id="box" class="grbox">
                                        <div class="box_top"></div>
                                        <div class="box_photo"></div>
                                        <div class="box_bottom">
                                            <ul>
                                                <li class="item_prose">
                                                    <span class="text_count" id="fb"></span>
                                                    <br/><span class="text_atr">发布</span></li>
                                                <li class="line_bor"></li>
                                                <li class="item_follow">
                                                    <span class="text_count" id="gz"></span>
                                                    <br/><span class="text_atr">关注</span></li>
                                                <li class="line_bor"></li>
                                                <li class="item_fans">
                                                    <span class="text_count" id="fs"></span>
                                                    <br/><span class="text_atr">粉丝</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div id="follow_message" class="tab-pane fade"
                                     style="float:left;margin-left:0;width:100%;height:auto;">
                                </div>
                                <div id="my_message" class="tab-pane fade"
                                     style="float:left;margin-left:0;width:100%;height:auto;">
                                </div>
                                <div id="accept_message" class="tab-pane fade"
                                     style="float:left;margin-left:0;width:100%;height:auto;">
                                    <div class="span12">
                                        <div class="content">

                                            <div class="module message">
                                                <div class="module-head">
                                                    <h3>Task Management Tool</h3>
                                                </div>
                                                <div class="module-option clearfix" id="send_message_div">

                                                    <div class="pull-right">
                                                        <a data-toggle="modal"
                                                           data-target="#send_personal_message_modal"
                                                           class="btn btn-primary">发送私信</a>
                                                    </div>
                                                </div>
                                                <div class="module-body table">
                                                    <table class="table table-message" id="table_message"
                                                           style="width:100%">
                                                        <thead>
                                                        <tr class="heading">
                                                            <td class="cell-icon"></td>
                                                            <td class="cell-title">Task</td>
                                                            <td class="cell-status hidden-phone hidden-tablet">Status
                                                            </td>
                                                            <td class="cell-time align-right">Due Date</td>
                                                        </tr>
                                                        </thead>
                                                        <tbody id="table_message_tbody">


                                                        </tbody>
                                                    </table>


                                                </div>
                                                <div class="module-foot">
                                                </div>
                                            </div>

                                        </div><!--/.content-->
                                    </div><!--/.span9-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 事件模块 -->
    <script>
        var mytext, parentid, mycomment;
        //发表文章并更新界面
        $("#fbbutton").click(function () {
            mytext = document.getElementById('inputtext').value;
            $.ajax({
                type: 'POST',
                url: '{{url_for("message_api.to_input_text")}}',
                data: {
                    input_text: mytext,
                },
                dataType: 'json',
                success: function (data) {
                    alert("发送成功");
                    location.reload();
                }
            })
        });

        //展开个人信息
        $("div#all_post").on("mouseover", ".person", function () {
            parentid = $(this).parent().parent().attr('id');
            $("#box").val(parentid);
            $.ajax({
                type: 'GET',
                url: '{{url_for("message_api.person_box")}}',
                data: {
                    postID: parentid
                },
                dataType: 'json',
                success: function (data) {
                    $("#fb").empty();
                    $("#fb").append("<b style='float:left;font-size: 18px;width: 36px;text-align: center;'>" + data.postnum + "</b>")
                    $("#gz").empty();
                    $("#gz").append("<b style='float:left;font-size: 18px;width: 36px;text-align: center;'>" + data.followednum + "</b>")
                    $("#fs").empty();
                    $("#fs").append("<b style='float:left;font-size: 18px;width: 36px;text-align: center;'>" + data.followernum + "</b>")
                }
            });

            var thisdiv = document.getElementById("poster_" + parentid);
            p = getElementLeft(thisdiv);
            q = getElementTop(thisdiv);
            document.getElementById("box").style.display = "block";
            $("#box").css("left", p + 20);
            $("#box").css("top", q + 20);
        });

        //收起个人信息
        $("div#all_post").on("mouseleave", ".person", function () {
            document.getElementById("box").style.display = "none";
        });

        //展开评论区
        $("div#all_post").on("click", ".to_comment", function () {
            parentid = $(this).parent().parent().attr('id');
            $("#comment_area_" + parentid).empty();
            $("#comment_pagination_" + parentid).empty();
            open_comment(parentid);
            $("#post_comment_" + parentid).fadeToggle();
        });

        //收起评论区
        $("div#all_post").on("click", ".to_withdraw", function () {
            parentid = $(this).parent().parent().parent().attr('id');
            $("#post_comment_" + parentid).fadeOut();
            $("#comment_pagination_" + parentid).fadeOut();
        });

        //发布评论
        $("div#all_post").on("click", ".to_release", function () {

            parentid = $(this).parent().parent().parent().attr('id').toString();
            if ($("#comment_input" + parentid).val().length == 0) {
                alert("评论内容不可为空");
            }
            else {
                mycomment = $("#comment_input" + parentid).val();
                $.ajax({
                    type: 'POST',
                    url: '{{url_for("message_api.to_comment")}}',
                    data: {
                        input_comment: mycomment,
                        input_post: parseInt(parentid),
                    },
                    dataType: 'json',
                    success: function (data) {
                        alert("评论成功");
                        location.reload();
                    }
                })
            }
        });

        //关注
        $("div#all_post").on("click", ".to_follow", function () {
            parentid = $(this).parent().parent().attr('id');
            $.ajax({
                type: 'POST',
                url: '{{url_for("message_api.to_follow")}}',
                data: {
                    'input_post': parseInt(parentid),
                    {#                    'time':getNowFormatDate()#}
                },
                dataType: 'json',
                async: false,
                success: function (data) {
                    console.log(data)
                    alert("关注成功");
                    location.reload();
                }
            })
        });

        //取消关注
        $("div#all_post").on("click", ".no_follow", function () {
            parentid = $(this).parent().parent().attr('id');
            $.ajax({
                type: 'POST',
                url: '{{url_for("message_api.no_follow")}}',
                data: {
                    input_post: parseInt(parentid),
                },
                dataType: 'json',
                success: function (data) {
                    alert("取消关注");
                    location.reload();
                }
            })
        });

        //点赞
        $("div#all_post").on("click", ".to_upvote", function () {
            parentid = $(this).parent().parent().attr('id');
            $.ajax({
                type: 'POST',
                url: '{{url_for("message_api.to_upvote")}}',
                data: {
                    input_post: parseInt(parentid),
                },
                dataType: 'json',
                success: function (data) {
                    alert("已点赞");
                    location.reload();
                }
            })
        });

        //打开转发模态框
        $("div#all_post").on("click", ".to_retrant", function () {
            parentid = $(this).parent().parent().attr('id');
            $("#myid").val(parentid);
        });

        //转发发布
        $("div#all_message_modal").on("click", ".fbbutton", function () {
            postid = $(this).val();
            posttext = document.getElementById('inputretrant').value;
            $.ajax({
                type: 'POST',
                url: '{{url_for("message_api.to_retrant")}}',
                data: {
                    get_id: parseInt(postid),
                    get_text: posttext,
                    input_post: parseInt(parentid),
                },
                dataType: 'json',
                success: function (data) {
                    alert("转发成功");
                    location.reload();
                }
            });
        })

    </script>

    <!-- 功能模块 -->
    <script>
        var postcomment, postfollow, followindex, pagecomment, minpage, maxpage, topScroll;
        //文章数据显示
        function post_comment(mydata) {
            $('#all_post').empty();
            for (var i = mydata.po_id.length - 1; i >= 0; i--) {
                postfollow = mydata.po_user[i];

                followindex = if_follow(postfollow);

                if (mydata.po_ifretrant[i] == 0) {
                    if (followindex == 0) {
                        $('#all_post').append("<div class='module span12' style='width:100%;height:auto;float:left;margin-left:0;background-color:white;border:0' id='" + mydata.po_id[i] + "'>" +
                                "<div style='width:8%;float:left;margin-top:10;'><div class='my_photo'></div></div>" +
                                "<div style='width:92%;float:right;margin-top:10;'><button class='to_follow'><b>+关注</b></button><span class='person' id='poster_" + mydata.po_id[i] + "'>" + mydata.po_user[i] + "</span><h10 style='font-size:5px;color:gray;float:left;width:90%'>" + mydata.po_time[i] + "</h10>" +
                                "<h5><strong style='font-size:16px;float:left;width:100%;margin-top:5px'>" + mydata.po_text[i] + "</strong></h5></div>" +
                                "<div class='post_function'><button class='to_retrant' data-toggle='modal' data-target='#all_message_modal'><b>转发" + mydata.po_retrant[i] + "</b></button><div class='line'></div><button class='to_comment'><b>评论" + mydata.po_comment[i] + "</b></button><div class='line'></div><button class='to_upvote'><b>点赞" + mydata.po_upvote[i] + "</b></button></div>" +
                                "<div class='post_comment' id='post_comment_" + mydata.po_id[i] + "'>" +
                                "<div style='width:100%;float:left'><input type='text' class='comment_input' id='comment_input" + mydata.po_id[i] + "'></input><button class='to_release'><b>发布</b></button><button class='to_withdraw'><b>收起</b></button></div>" +
                                "<div id='comment_area_" + mydata.po_id[i] + "'></div>" +
                                "<div id='comment_pagination_" + mydata.po_id[i] + "' class='pagination' style='float:right;margin-top: 0'></div></div></div>");
                    }

                    else {
                        $('#all_post').append("<div class='module span12' style='width:100%;height:auto;float:left;margin-left:0;background-color:white;border:0' id='" + mydata.po_id[i] + "'>" +
                                "<div style='width:8%;float:left;margin-top:10;'><div class='my_photo'></div></div>" +
                                "<div style='width:92%;float:right;margin-top:10;'><button class='no_follow'><b>取消关注</b></button><span class='person' id='poster_" + mydata.po_id[i] + "'>" + mydata.po_user[i] + "</span><h10 style='font-size:5px;color:gray;float:left;width:90%'>" + mydata.po_time[i] + "</h10>" +
                                "<h5><strong style='font-size:16px;float:left;width:100%;margin-top:5px'>" + mydata.po_text[i] + "</strong></h5></div>" +
                                "<div class='post_function'><button class='to_retrant' data-toggle='modal' data-target='#all_message_modal'><b>转发" + mydata.po_retrant[i] + "</b></button><div class='line'></div><button class='to_comment'><b>评论" + mydata.po_comment[i] + "</b></button><div class='line'></div><button class='to_upvote'><b>点赞" + mydata.po_upvote[i] + "</b></button></div>" +
                                "<div class='post_comment' id='post_comment_" + mydata.po_id[i] + "'>" +
                                "<div style='width:100%;float:left'><input type='text' class='comment_input' id='comment_input" + mydata.po_id[i] + "'></input><button class='to_release'><b>发布</b></button><button class='to_withdraw'><b>收起</b></button></div>" +
                                "<div id='comment_area_" + mydata.po_id[i] + "'></div>" +
                                "<div id='comment_pagination_" + mydata.po_id[i] + "' class='pagination' style='float:right;margin-top: 0'></div></div></div>");
                    }
                }

                else {
                    if (followindex == 0) {
                        $('#all_post').append("<div class='module span12' style='width:100%;height:auto;float:left;margin-left:0;background-color:white;border:0' id='" + mydata.po_id[i] + "'>" +
                                "<div style='width:8%;float:left;margin-top:10;'><div class='my_photo'></div></div>" +
                                "<div style='width:92%;float:right;margin-top:10;'><button class='to_follow'><b>+关注</b></button><span class='person' id='poster_" + mydata.po_id[i] + "'>" + mydata.po_user[i] + "</span><h10 style='font-size:5px;color:gray;float:left;width:90%'>" + mydata.po_time[i] + "</h10>" +
                                "<h5><strong style='font-size:16px;float:left;width:100%;margin-top:5px'>" + mydata.po_text[i] + "</strong></h5></div>" +

                                "<div style='width:100%;background-color: #FFFDEE;'><h5 style='float:left;width:100%;margin-left:0;margin-top:5px;background-color: #FFFDEE;'><strong style='font-size:18px;float:left;width:92%;margin-left:8%;margin-top:5px;background-color: #FFFDEE;'>" + "@" + mydata.po_retrant_poster[i] + "</strong>" +
                                "<strong style='font-size:16px;float:left;width:92%;margin-left:8%;margin-top:5px;margin-bottom:5px;background-color: #FFFDEE;'>" + mydata.po_retrant_text[i] + "</strong></h5></div>" +

                                "<div class='post_function'><button class='to_retrant' data-toggle='modal' data-target='#all_message_modal'><b>转发" + mydata.po_retrant[i] + "</b></button><div class='line'></div><button class='to_comment'><b>评论" + mydata.po_comment[i] + "</b></button><div class='line'></div><button class='to_upvote'><b>点赞" + mydata.po_upvote[i] + "</b></button></div>" +
                                "<div class='post_comment' id='post_comment_" + mydata.po_id[i] + "'>" +
                                "<div style='width:100%;float:left'><input type='text' class='comment_input' id='comment_input" + mydata.po_id[i] + "'></input><button class='to_release'><b>发布</b></button><button class='to_withdraw'><b>收起</b></button></div>" +
                                "<div id='comment_area_" + mydata.po_id[i] + "'></div>" +
                                "<div id='comment_pagination_" + mydata.po_id[i] + "' class='pagination' style='float:right;margin-top: 0'></div></div></div>");
                    }

                    else {
                        $('#all_post').append("<div class='module span12' style='width:100%;height:auto;float:left;margin-left:0;background-color:white;border:0' id='" + mydata.po_id[i] + "'>" +
                                "<div style='width:8%;float:left;margin-top:10;'><div class='my_photo'></div></div>" +
                                "<div style='width:92%;float:left;margin-top:10;'><button class='no_follow'><b>取消关注</b></button><span class='person' id='poster_" + mydata.po_id[i] + "'>" + mydata.po_user[i] + "</span><h10 style='font-size:5px;color:gray;float:left;width:90%'>" + mydata.po_time[i] + "</h10>" +
                                "<h5><strong style='font-size:16px;float:left;width:100%;margin-top:5px'>" + mydata.po_text[i] + "</strong></h5></div>" +

                                "<div style='width:100%;background-color: #FFFDEE;'><h5 style='float:left;width:100%;margin-left:0;margin-top:5px;background-color: #FFFDEE;'><strong style='font-size:18px;float:left;width:92%;margin-left:8%;margin-top:5px;background-color: #FFFDEE;'>" + "@" + mydata.po_retrant_poster[i] + "</strong>" +
                                "<strong style='font-size:16px;float:left;width:92%;margin-left:8%;margin-top:5px;margin-bottom:5px;background-color: #FFFDEE;'>" + mydata.po_retrant_text[i] + "</strong></h5></div>" +

                                "<div class='post_function'><button class='to_retrant' data-toggle='modal' data-target='#all_message_modal'><b>转发" + mydata.po_retrant[i] + "</b></button><div class='line'></div><button class='to_comment'><b>评论" + mydata.po_comment[i] + "</b></button><div class='line'></div><button class='to_upvote'><b>点赞" + mydata.po_upvote[i] + "</b></button></div>" +
                                "<div class='post_comment' id='post_comment_" + mydata.po_id[i] + "'>" +
                                "<div style='width:100%;float:left'><input type='text' class='comment_input' id='comment_input" + mydata.po_id[i] + "'></input><button class='to_release'><b>发布</b></button><button class='to_withdraw'><b>收起</b></button></div>" +
                                "<div id='comment_area_" + mydata.po_id[i] + "'></div>" +
                                "<div id='comment_pagination_" + mydata.po_id[i] + "' class='pagination' style='float:right;margin-top: 0'></div></div></div>");
                    }
                }
            }
        }

        //展开评论
        function open_comment(id) {
            $.ajax({
                type: 'GET',
                url: '{{ url_for("message_api.comment_all") }}',
                data: {
                    post: id
                },
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    pagecomment = data;
                    var max_entries = data.co_page;
                    $("#comment_pagination_" + id).pagination(max_entries, {
                        num_edge_entries: 1, //边缘页数
                        num_display_entries: 2, //主体页数
                        callback: comment_callback,
                        items_per_page: 1, //每页显示1项
                        prev_text: "<<",
                        next_text: ">>"
                    });
                }
            });
        }

        //评论分页
        function comment_callback(page_index) {
            minpage = 5 * page_index;
            maxpage = 5 * (page_index + 1);

            $('#comment_area_' + pagecomment.co_post).empty();

            if (pagecomment.co_id.length - maxpage > 0) {
                for (var k = pagecomment.co_id.length - minpage - 1; k >= pagecomment.co_id.length - maxpage; k--) {
                    (function (j) {
                        $('#comment_area_' + pagecomment.co_post).append("<div style='width:100%;height:auto;float:left;margin-left:0;margin-top:10px;'><strong style='font-size:17px;'>" + pagecomment.co_commenter[j] + ":  </strong><h10 style='font-size:17px'>" + pagecomment.co_text[j] + "</h10></div>")
                    })(k)
                }
            }
            else {
                for (var k = pagecomment.co_id.length - minpage - 1; k >= 0; k--) {
                    (function (j) {
                        $('#comment_area_' + pagecomment.co_post).append("<div style='width:100%;height:auto;float:left;margin-left:0;margin-top:10px;'><strong style='font-size:17px;'>" + pagecomment.co_commenter[j] + ":  </strong><h10 style='font-size:17px'>" + pagecomment.co_text[j] + "</h10></div>")
                    })(k)
                }
            }

            topScroll = document.body.scrollTop;//滚动的距离,距离顶部的距离
            console.log(topScroll);
            $('body,html').animate({scrollTop: topScroll}, 500)
        }

        //是否关注判断
        function if_follow(thisdata) {
            var myindex = 0;
            $.ajax({
                type: 'GET',
                url: '{{ url_for("message_api.query_follow") }}',
                data: {
                    myposter: thisdata
                },
                async: false,
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    if (data == 1) {
                        myindex = 1;
                    }
                }
            });
            return myindex;
        }

        //获取left
        function getElementLeft(element) {
            var actualLeft = element.offsetLeft;
            var current = element.offsetParent;
            while (current !== null) {
                actualLeft += current.offsetLeft;
                current = current.offsetParent;
            }
            return actualLeft;
        }

        //获取top
        function getElementTop(element) {
            var actualTop = element.offsetTop;
            var current = element.offsetParent;
            while (current !== null) {
                actualTop += current.offsetTop;
                current = current.offsetParent;
            }
            return actualTop;
        }

        //获取client——left right top bottom
        function getBoundingClientRect(element) {
            var scrollTop = document.documentElement.scrollTop;
            var scrollLeft = document.documentElement.scrollLeft;
            if (element.getBoundingClientRect) {
                if (typeof arguments.callee.offset != "number") {
                    var temp = document.createElement("div");
                    temp.style.cssText = "position:absolute;left:0;top:0;";
                    document.body.appendChild(temp);
                    arguments.callee.offset = -temp.getBoundingClientRect().top - scrollTop;
                    document.body.removeChild(temp);
                    temp = null;
                }
                var rect = element.getBoundingClientRect();
                var offset = arguments.callee.offset;

                return {
                    left: rect.left + offset,
                    right: rect.right + offset,
                    top: rect.top + offset,
                    bottom: rect.bottom + offset
                };
            } else {
                var actualLeft = getElementLeft(element);
                var actualTop = getElementTop(element);
                return {
                    left: actualLeft - scrollLeft,
                    right: actualLeft + element.offsetWidth - scrollLeft,
                    top: actualTop - scrollTop,
                    bottom: actualTop + element.offsetHeight - scrollTop
                }
            }
        }

        function send_personal_message() {
            receiver = $("#reciver").val()
            message_content = document.getElementById('message_content').value
            var username_list = new Array()
            {#            var message_content_list = new Array()#}
            username_list.push(receiver)
            {#            message_content_list.push(message_content)#}
            {#            console.log(receiver)#}
            $.ajax({
                type: 'GET',
                url: '{{ url_for("message_api.is_username") }}',
                data: {
                    "username": receiver
                },
                dataType: 'json',
                success: function (data) {
                    if (data.exit == 'true') {
                        $.ajax({
                            type: 'POST',
                            url: '{{ url_for("message_api.send_message") }}',
                            data: {
                                "username_list": username_list,
                                "message_content": message_content
                            },
                            dataType: 'json',
                            success: function (data) {
                                console.log(data)
                                alert('发送成功！')
                            }
                        })
                    }
                    else {
                        alert('不存在此用户！')
                    }
                }
            })
        }

    </script>

    <!-- 分页模块 -->
    <script>

        {#    消息私信呈现#}
        function creat_table_for_accept_message(data) {
            for (i = data.info_list.length; i >= 0; i--) {
                if (data.state_list[i] == 'N') {
                    $('#table_message_tbody').append(
                            " <tr class=\"task\" id=\"info_" + data.id_list[i] + "\">" +
                            "<td class=\"cell-icon\"><i class=\"icon-checker high\"></td>" +
                            "<td class=\"cell-title\">" + data.sender_list[i] + data.info_list[i] + "</td>" +
                            "<td class=\"cell-status hidden-phone hidden-tablet\">未读</td>" +
                            "<td class=\"cell-time align-right\">" + data.time_list[i] + "</td>" +
                            "</tr>"
                    )
                }
                else if (data.state_list[i] == 'Y') {
                    $('#table_message_tbody').append(
                            " <tr class=\"task resolved\" id=\"" + data.id_list[i] + "\">" +
                            "<td class=\"cell-icon\"><i class=\"icon-checker high\"></td>" +
                            "<td class=\"cell-title\">" + data.sender_list[i] + data.info_list[i] + "</td>" +
                            "<td class=\"cell-status hidden-phone hidden-tablet\">已读</td>" +
                            "<td class=\"cell-time align-right\">" + data.time_list[i] + "</td>" +
                            "</tr>"
                    )
                }
            }
            ;
            var table = $('#table_message').DataTable({
                "lengthChange": false,
                "pageLength": 5,
                "searching": false,
                "language": {
                    "emptyTable": "没有数据",
                    "loadingRecords": "加载中…",
                    "processing": "查询中…",
                    "search": "检索:",
                    "lengthMenu": "每页 _MENU_ 条",
                    "zeroRecords": "没有数据",
                    "paginate": {
                        "first": "第一页",
                        "last": "最后一页",
                        "next": "",
                        "previous": ""
                    },
                    "info": "第 _PAGE_ 页 / 总 _PAGES_ 页",
                    "infoEmpty": "没有数据",
                    "infoFiltered": "(过滤总件数 _MAX_ 条)",

                },
            })


            {#        阅读消息#}
            $('#table_message_tbody tr').click(
                    function () {
                        var content = jQuery(this).children("td:eq(2)").text();

                        if (content == "未读") {
                            $(this).children("td:eq(2)").text('已读');
                            $(this).toggleClass('resolved');
                            str = $(this).attr('id')
                            var pos = str.indexOf('_');
                            var info_id = str.substring(pos + 1, str.length);
                            $.ajax({
                                type: 'GET',
                                url: '{{ url_for("message_api.read_message") }}',
                                data: {
                                    "info_id": info_id
                                },
                                dataType: 'json',
                                success: function (data) {
                                    console.log(data);
                                    {#                                                        $.ajax({#}
                                    {#                                                            type: 'GET',#}
                                    {#                                                            url: '{{ url_for("message_api.request_page") }}',#}
                                    {#                                                            dataType: 'json',#}
                                    {#                                                            success: function (data) {#}
                                    {#                                                                console.log(data);#}
                                    {#                                                                creat_table_for_accept_message(data)#}
                                    {#                                                            }#}
                                    {#                                                        })#}
                                }
                            });
                        }


                    }
            )
        }

        {#     首次访问#}
        $(function () {
            $.ajax({
                type: 'GET',
                url: '{{ url_for("message_api.request_page") }}',
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    creat_table_for_accept_message(data)
                    var num_entries = data.page_num;
                    $("#my_pagination").pagination(num_entries, {
                        num_edge_entries: 1, //边缘页数
                        num_display_entries: 2, //主体页数
                        callback: pageselectCallback,
                        items_per_page: 1, //每页显示1项
                        prev_text: "前一页",
                        next_text: "后一页"
                    });
                }
            });
            function pageselectCallback(page_index) {
                $.ajax({
                    type: 'GET',
                    url: '{{ url_for("message_api.message_all") }}',
                    data: {
                        "page_num": page_index
                    },
                    dataType: 'json',//希望服务器返回json格式的数据
                    success: function (data) {
                        postcomment = data;
                        post_comment(postcomment);
                    }
                })
            }

            {#            判断是否是管理员，群发消息权限,填充user_list#}
            $.ajax({
                type: 'GET',
                url: '{{ url_for("message_api.get_role") }}',
                dataType: 'json',
                success: function (data) {
                    if (data.role == 1) {
                        $("#send_message_div").append(
                                "<div class=\"pull-right\">" +
                                "<a data-toggle=\"modal\"" +
                                "data-target=\"#send_admin_message_modal\"" +
                                " class=\"btn btn-primary\">群发消息（管理员）</a>" +
                                "</div>"
                        )
                        $.ajax({
                            type: 'GET',
                            url: '{{ url_for("message_api.get_user_list") }}',
                            dataType: 'json',
                            success: function (data) {
                                console.log(data)
                                for (i = 0; i < data.user_list.length; i++) {
                                    str = "<tr ><td><input type='checkbox' class='user_table'  id='" + data.user_list[i] + "' ></td><td>" + data.user_list[i] + "</td></tr>"
                                    $("#user_tbody").append(str)
                                }
                            }
                        })
                    }

                }
            });
        });
        var send_list = new Array()

        {#        群发消息#}
        function send_admin_message() {
            {#群发选中事件#}
            $('.user_table').each(function () {
                if ($(this).is(':checked')) {
                    send_list.push($(this).attr('id'))
                }
            })
            if (send_list.length == 0) {
                alert('请选择接收用户！')
            }
            else {
                console.log(document.getElementById('admin_message_content').value)
                $.ajax({
                    type: 'POST',
                    url: '{{ url_for("message_api.send_message") }}',
                    data: {
                        "username_list": send_list,
                        "message_content": document.getElementById('admin_message_content').value
                    },
                    dataType: 'json',
                    success: function (data) {
                        console.log(data)
                        alert('发送成功！')
                    }
                })
            }
        }
        $(document).ready(function () {
            $.fn.dataTable.ext.errMode = 'none';
        });

    </script>

{% endblock %}