{% extends "stock_solo/stock_solo_base.html" %}
{% block styles %}
    <style>
        .tot_oper_cost {
            color: #C4D2DB;
        }
    </style>
{% endblock %}


{% block search %}
    <div class="container-fluid">
      <form class="navbar-form navbar-left" id="searchform" role="search" method="post" action="{{ url_for('stock_solo.invest_value') }}">
        <div class="input-group">
         <input type="text" class="form-control" placeholder="Search" name="stockcode">
          <div class="input-group-btn">
            <button class="btn btn-default dropdown-toggle" type="submit" id="submitbtn" style="padding: 8.5px 12px" ><span class="glyphicon glyphicon-search"></span></button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
            </ul>
          </div>
        </div>
      </form>
    </div>
    <script>
var stocksuggest=$("input[name='stockcode']").bsSuggest({
    indexKey: 1,
    allowNoKeyword: false,
    getDataMethod: "url",
    multiWord: false,
    url:'{{url_for("restfulapi.stock_code",q="")}}',
    processData: function(json){     // url 获取数据时，对数据的处理，作为 getData 的回调函数
        var i, len, data = {value: []};

            if(!json || !json.stockcode || json.stockcode.length == 0) {
                return false;
            }
            len = json.stockcode.length;

            for (i = 0; i < len; i++) {
                data.value.push({
                    "Id": (i + 1),
                    "stockcode": json.stockcode[i],
                    "stockname": json.stockname[i],
                });
            }
            return data;
        }
})
    $("#submitbtn").click(function () {
        $("#searchform").submit();
    })

    </script>
{% endblock %}

{% block tab %}
    <ul class="nav nav-pills">
        <li><a href="{{ url_for('stock_solo.basic') }}">基本情况</a></li>
        <li><a href="{{ url_for('stock_solo.finance_data_yc') }}">财务数据及分析</a></li>
        <li><a href="#">投资价值分析</a></li>
        <li><a href="#">图表分析</a></li>
    </ul>
{% endblock %}

{% block choice %}
    <label style="margin-top: 20px" for="name">选项</label>
    <div id="index" style="height: 60%; overflow-y :auto">
        {#        <div class="checkbox">#}
        {#            <label style="font-size: 20px;"><input type="checkbox" value="tot_oper_cost" id="first_check">总营业成本</label>#}
        {#        </div>#}
        {#        <div class="checkbox">#}
        {#            <label style="font-size: 20px"><input type="checkbox" value="tot_oper_rev">总营业收入</label>#}
        {#        </div>#}
        {#        <div class="checkbox">#}
        {#            <label style="font-size: 20px"><input type="checkbox" value="wgsd_net_inc">净利润（股东）</label>#}
        {#        </div>#}
        {#        <div class="checkbox">#}
        {#            <label style="font-size: 20px"><input type="checkbox" value="tot_assets">资产总计</label>#}
        {#        </div>#}
        {#        <div class="checkbox">#}
        {#            <label style="font-size: 20px"><input type="checkbox" value="wgsd_com_eq">归属股东权益</label>#}
        {#        </div>#}
        {#        <div class="checkbox">#}
        {#            <label style="font-size: 20px"><input type="checkbox" value="net_inc_eq_rate">净资产收益率（股东）</label>#}
        {#        </div>#}
        {#        <div class="checkbox">#}
        {#            <label style="font-size: 20px"><input type="checkbox" value="total_shares">股本</label>#}
        {#        </div>#}
        {#        <div class="checkbox">#}
        {#            <label style="font-size: 20px"><input type="checkbox" value="earnings_per_share">每股收益</label>#}
        {#        </div>#}
        {#        <div class="checkbox">#}
        {#            <label style="font-size: 20px"><input type="checkbox" value="net_assets_per_share">每股净资产</label>#}
        {#        </div>#}
        {#        <div class="checkbox">#}
        {#            <label style="font-size: 20px"><input type="checkbox" value="cash_per_share">每股账面现金</label>#}
        {#        </div>#}
        {#        <div class="checkbox">#}
        {#            <label style="font-size: 20px"><input type="checkbox" value="div_cashandstock">每股现金股息</label>#}
        {#        </div>#}
        {#        <div class="checkbox">#}
        {#            <label style="font-size: 20px"><input type="checkbox" value="payment_proportion">支付比例</label>#}
        {#        </div>#}
        {#        <div class="checkbox">#}
        {#            <label style="font-size: 20px"><input type="checkbox" value="equal_earning_rate">均衡市盈率</label>#}
        {#        </div>#}
        {#        <div class="checkbox">#}
        {#            <label style="font-size: 20px"><input type="checkbox" value="equal_market_rate">均衡市净率</label>#}
        {#        </div>#}
        {#        <div class="checkbox">#}
        {#            <label style="font-size: 20px"><input type="checkbox" value="com_value_evaluate">公司价值估计</label>#}
        {#        </div>#}
        {#        <div class="checkbox">#}
        {#            <label style="font-size: 20px"><input type="checkbox" value="per_com_value_evaluate">每股价值估计</label>#}
        {#        </div>#}
        {#        <div class="checkbox">#}
        {#            <label style="font-size: 20px"><input type="checkbox" value="fre_cash_evaluate">自由现金流估计</label>#}
        {#        </div>#}
        {#        <div class="checkbox">#}
        {#            <label style="font-size: 20px"><input type="checkbox" value="ev">市值</label>#}
        {#        </div>#}
        {#        <div class="checkbox">#}
        {#            <label style="font-size: 20px"><input type="checkbox" value="earning_rate">市盈率</label>#}
        {#        </div>#}
        {#        <div class="checkbox">#}
        {#            <label style="font-size: 20px"><input type="checkbox" value="net_rate">市净率</label>#}
        {#        </div>#}
        {#        <div class="checkbox">#}
        {#            <label style="font-size: 20px"><input type="checkbox" value="sale_rate">市销率</label>#}
        {#        </div>#}
        {#        <div class="checkbox">#}
        {#            <label style="font-size: 20px"><input type="checkbox" value="cash_rate">市现率</label>#}
        {#        </div>#}
        {#        <div class="checkbox">#}
        {#            <label style="font-size: 20px"><input type="checkbox" value="dividendyield2">股息收益率</label>#}
        {#        </div>#}
        {#        <div class="checkbox">#}
        {#            <label style="font-size: 20px"><input type="checkbox" value="cash_yield_evaluate">现金收益率估计</label>#}
        {#        </div>#}
        {#        <div class="checkbox">#}
        {#            <label style="font-size: 20px"><input type="checkbox" value="ev1">整体价值估计（含货币）</label>#}
        {#        </div>#}
        {#        <div class="checkbox">#}
        {#            <label style="font-size: 20px"><input type="checkbox" value="ev2">整体价值估计（不含货币）</label>#}
        {#        </div>#}
        {#        <div class="checkbox">#}
        {#            <label style="font-size: 20px"><input type="checkbox" value="employee">雇员数量</label>#}
        {#        </div>#}

    </div>
    <div style="">
        <input type="button" value="全选" id="CheckAll"/>
        <input type="button" value="全不选" id="UnCheckAll"/>
        {#    <input type="button" value="提交" id="commit" />#}
    </div>


    <script>
        var Chosenindexes = new Array();
        var dict1 = {
            'tot_oper_cost': '总营业成本',
            'tot_oper_rev': '总营业收入',
            'wgsd_net_inc': '净利润（股东）',
            'tot_assets': '资产总计',
            'wgsd_com_eq': '归属股东权益',
            'net_inc_eq_rate': '净资产收益率（股东）',
            'total_shares': '股本',
            'earnings_per_share': '每股收益',
            'net_assets_per_share': '每股净资产',
            'cash_per_share': '每股账面现金',
            'div_cashandstock': '每股现金股息',
            'payment_proportion': '支付比例',
            'equal_earning_rate': '均衡市盈率',
            'equal_market_rate': '均衡市净率',
            'com_value_evaluate': '公司价值估计',
            'per_com_value_evaluate': '每股价值估计',
            'fre_cash_evaluate': '自由现金流估计',
            'ev': '市值',
            'earning_rate': '市盈率',
            'net_rate': '市净率',
            'sale_rate': '市销率',
            'cash_rate': '市现率',
            'dividendyield2': '股息收益率',
            'cash_yield_evaluate': '现金收益率估计',
            'ev1': '整体价值估计（含货币）',
            'ev2': '整体价值估计（不含货币）',
            'employee': '雇员数量'
        };
        function creatindex() {
            for (var key in dict1) {
                {#                if( key ==  "tot_oper_cost"){#}
                {#                   $("#index").append("<div class='checkbox'><label style='font-size: 20px;'><input type='checkbox' id='first_check' value='" + key + "'  >" + dict1[key] + " <div id='div_" + key + "' style='height: 10px;width: 10px;float: right;margin: 5px'></div></label> </div>"#}
                {#                }#}
                {#                else{#}
                $("#index").append("<div class='checkbox' style=' margin-left: 3px; margin-top: 3px;'><label style='font-size: 10px;'><input type='checkbox'  value='" + key + "'  >" + dict1[key] + " <div id='div_" + key + "' style='height: 10px;width: 10px;float: right;margin: 5px'></div></label> </div>")
                {#                }#}
            }

        }
        creatindex()
        $(document).ready(function () {

            $('input').iCheck({
                checkboxClass: 'icheckbox_minimal-blue',
                radioClass: 'iradio_minimal-blue',
                increaseArea: '20%' // optional
            });
        });
        $("input#commit").click(function () {
            Chosenindexes = [];
            $("div#unselected").empty();
            $("div#selected").empty();
            $("input[type=checkbox]").each(function () {//each()方法遍历所有的复选框
                if ($(this).is(':checked') == true) {//这里就可以判断当前是否被选择了
                    indexname = $(this).val();
                    Chosenindexes.push(indexname);
                    var tempspan = $("<span class=\"label label-default\" data-stopPropagation=\"true\" id=\"" + indexname + "\">" + dict[indexname] + "</span>")
                    tempspan.appendTo($("div#unselected"));
                    $("div#unselected").append(" ");
                }
            })
            CreateChart();
        })
        $("input#CheckAll").click(function () {
            $("input[type=checkbox]").each(function () {
                $(this).iCheck('check');
            })
        })
        $("input#UnCheckAll").click(function () {
            $("input[type=checkbox]").each(function () {
                $(this).iCheck('uncheck');
            })
        })
        $('input').on('ifChecked', function (event) {
            indexname = $(this).val();
            console.log(this)
            Chosenindexes[indexname] = NewColor();
            $("#div_"+indexname).css("background-color", Chosenindexes[indexname])
{#            $(this).parent().parent().css("color", Chosenindexes[indexname])#}
            console.log(Chosenindexes)
            CreateChart();
            CreateTable();
        });
        $('input').on('ifUnchecked', function (event) {
            indexname = $(this).val();
            delete Chosenindexes[indexname]
             $("#div_"+indexname).css("background-color", 'transparent')
{#            $(this).parent().parent().css("color", "black")#}
            console.log(Chosenindexes)
            CreateChart();
            CreateTable();
        });

    </script>

{% endblock %}

{% block chart %}
    <div id="mychart" style="width: auto;height:60%;margin-left:20px"></div>
{% endblock %}
{% block table %}
    <div id="mytable" style="width: auto;height:60%;margin-left:20px"></div>
{% endblock %}
{% block toolbox %}
    <div class="container">
        <div class="row">
            <div style="float: left;margin: 20px">
                <a style="width:50px;margin-left:10px;color: #0c0c0c">单位:</a>
                <select class="form-control" id="unit">
                    <option value="0">元</option>
                    <option value="1">百万</option>
                </select>
            </div>
            <div style="float: left;margin: 20px">
                <a style="width:50px;margin-left:10px;color: #0c0c0c">起始时间:</a><input size="16" type="text" value="2016-12-31" id="starttime" readonly class="form_datetime">
            </div>
            <div style="float: left;margin: 20px">
                <a style="width:50px;margin-left:10px;color: #0c0c0c">结束时间:</a><input size="16" type="text" value="2006-01-01" id="endtime" readonly class="form_datetime">
            </div>
        </div>
    </div>

    <script>
        denominator = 1
        var starttime = "20061231"
        var endtime = "20161231"
        $("select#unit").change(function () {
            flag = $(this).val()
            if (flag == "0") {
                denominator = 1
                CreateChart();
                CreateTable();
            }
            if (flag == "1") {
                denominator = 1000000
                CreateChart();
                CreateTable();
            }
        });
        $(".form_datetime").datetimepicker({
            format: 'yyyy-mm-dd ',
            minView: 3,
            autoclose: true,
            pickerPosition: 'top-right'
        });
        $('#starttime')
                .datetimepicker()
                .on('changeDate', function (ev) {
                    startime = ev.date.Format("yyyy年Q4")
                    option.dataZoom[0].startValue = startime
                    myChart.setOption(option)
                    RequestTable();
                });
        $('#endtime')
                .datetimepicker()
                .on('changeDate', function (ev) {
                    endtime = ev.date.Format("yyyy年Q4")
                    option.dataZoom[0].endValue = endtime
                    myChart.setOption(option)
                    RequestTable();

                });
        Date.prototype.Format = function (fmt) { //author: meizz
            var o = {
                "M+": this.getMonth() + 1, //月份
                "d+": this.getDate(), //日
                "h+": this.getHours(), //小时
                "m+": this.getMinutes(), //分
                "s+": this.getSeconds(), //秒
                "q+": Math.floor((this.getMonth() + 3) / 3), //季度
                "S": this.getMilliseconds() //毫秒
            };
            if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
            for (var k in o)
                if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
            return fmt;
        }
    </script>
{% endblock %}
{% block scripts %}
    <script>
        function selectline(linename) {
            for (var line in option.series) {
                l = parseInt(line);
                if (option.series[l].name == linename) {
                    tempcolor = NewColor();
                    option.series[l].lineStyle.normal.color = tempcolor;
                    option.series[l].itemStyle.normal.color = tempcolor;
                    $("span#" + linename).css('color', tempcolor);
                    selectedindexes.push(l);
                    selectedindexname.push(option.series[l].name);
                    option.legend.data = selectedindexname;
                    myChart.setOption(option);
                    {#if($('tr#'+option.series[l].name).length>0) {  列头不变色 将查询的data存储 分割函数 代码冗余度高
                        $('tr#' + option.series[l].name).css('color', option.series[l].lineStyle.normal.color)
                    }#}

                }
            }

        }
        function unselectline(linename) {
            for (var line in option.series) {
                l = parseInt(line);
                if (option.series[l].name == linename) {
                    option.series[l].lineStyle.normal.color = '#C4D2DB';
                    option.series[l].itemStyle.normal.color = '#C4D2DB';
                    $("span#" + linename).css('color', 'white');
                    selectedindexes.splice(selectedindexes.indexOf(l), 1);
                    selectedindexname.splice(selectedindexname.indexOf(option.series[l].name), 1);
                    option.legend.data = selectedindexname;
                    myChart.setOption(option);

                }
            }

        }
    </script>

    <script>
        var myChart = echarts.init(document.getElementById('mychart'));
        var invest_results;
        var finance_results;
        var dict = {
            'tot_oper_cost': '总营业成本',
            'tot_oper_rev': '总营业收入',
            'wgsd_net_inc': '净利润（股东）',
            'tot_assets': '资产总计',
            'wgsd_com_eq': '归属股东权益',
            'net_inc_eq_rate': '净资产收益率（股东）',
            'total_shares': '股本',
            'earnings_per_share': '每股收益',
            'net_assets_per_share': '每股净资产',
            'cash_per_share': '每股账面现金',
            'div_cashandstock': '每股现金股息',
            'payment_proportion': '支付比例',
            'equal_earning_rate': '均衡市盈率',
            'equal_market_rate': '均衡市净率',
            'com_value_evaluate': '公司价值估计',
            'per_com_value_evaluate': '每股价值估计',
            'fre_cash_evaluate': '自由现金流估计',
            'ev': '市值',
            'earning_rate': '市盈率',
            'net_rate': '市净率',
            'sale_rate': '市销率',
            'cash_rate': '市现率',
            'dividendyield2': '股息收益率',
            'cash_yield_evaluate': '现金收益率估计',
            'ev1': '整体价值估计（含货币）',
            'ev2': '整体价值估计（不含货币）',
            'employee': '雇员数量'
        };

        $.ajax({
            type: 'GET',
            url: '{{url_for("restfulapi.finance_data")}}',
            data: {
                stockcode: {{stockcode|safe}},
                starttime: '19901231',
                endtime: '20161231',
                indexes: ['tot_oper_cost', 'tot_oper_rev', 'wgsd_net_inc', 'tot_assets', 'wgsd_com_eq', 'monetary_cap', 'operatecashflow_ttm2', 'investcashflow_ttm2']
            },
            dataType: 'json',//希望服务器返回json格式的数据
            success: function (data) {
                finance_results = data;
                finance_results_t = data;
                $.ajax({
                    type: 'GET',
                    url: '{{url_for("restfulapi.invest_data")}}',
                    data: {
                        stockcode: {{ stockcode|safe }},
                        starttime: '19901231',
                        endtime: '20161231',
                        indexes: ['total_shares', 'div_cashandstock', 'ev', 'employee', 'dividendyield2', 'ev1', 'ev2']
                    },
                    dataType: 'json',//希望服务器返回json格式的数据
                    success: function (data) {
                        invest_results = data;
                        invest_results_t = data;
                        CreateChart();
                        $("input#first_check").iCheck('check')
                        {#                            选中一条线#}
                    }
                })
            }
        })
        //                dataSeries = [{name:'123',type:'line',data:[1,2,3,4,5,6,7]},{name:'345',type:'line',data:[7,6,5,4,3,2,1]}];
        function CreateChart() {
            dataSeries = [];
            for (var i = 0; i < finance_results.indexes.length; i++) {
                if (Chosenindexes.hasOwnProperty(finance_results.indexes[i])) {
                    temp = {
                        name: finance_results.indexes[i],
                        type: 'line',
                        lineStyle: {normal: {width: 2}},
                        itemStyle: {normal: {color: Chosenindexes[finance_results.indexes[i]]}},
                        symbolSize: 8,
                        smooth: true,
                        data: numfilter(eval("finance_results." + finance_results.indexes[i]))
                    };
                    dataSeries.push(temp);
                }
            }
            for (var i = 0; i < invest_results.indexes.length; i++) {
                if (Chosenindexes.hasOwnProperty(invest_results.indexes[i])) {
                    temp = {
                        name: invest_results.indexes[i],
                        type: 'line',
                        lineStyle: {normal: {width: 2}},
                        itemStyle: {normal: {color: Chosenindexes[invest_results.indexes[i]]}},
                        symbolSize: 8,
                        smooth: true,
                        data: numfilter(eval("invest_results." + invest_results.indexes[i]))
                    };
                    dataSeries.push(temp);
                }
            }
            if (Chosenindexes.hasOwnProperty("net_inc_eq_rate")) {
                tempdata = []
                for (i = 0; i < finance_results.the_year.length; i++) {
                    datavalue = finance_results.wgsd_net_inc[i] / finance_results.wgsd_com_eq[i]
                    tempdata.push(datavalue)
                }
                temp = {
                    name: "net_inc_eq_rate",
                    type: 'line',
                    lineStyle: {normal: {width: 2}},
                    itemStyle: {normal: {color: Chosenindexes["net_inc_eq_rate"]}},
                    symbolSize: 8,
                    smooth: true,
                    data: numfilter(tempdata)
                };
                dataSeries.push(temp);
            }
            if (Chosenindexes.hasOwnProperty("earnings_per_share")) {
                tempdata = []
                for (i = 0; i < finance_results.the_year.length; i++) {
                    datavalue = finance_results.wgsd_net_inc[i] / invest_results.total_shares[i]
                    tempdata.push(datavalue)
                }
                temp = {
                    name: "earnings_per_share",
                    type: 'line',
                    lineStyle: {normal: {width: 2}},
                    itemStyle: {normal: {color: Chosenindexes["earnings_per_share"]}},
                    symbolSize: 8,
                    smooth: true,
                    data: numfilter(tempdata)
                };
                dataSeries.push(temp);
            }
            if (Chosenindexes.hasOwnProperty("net_assets_per_share")) {
                tempdata = []
                for (i = 0; i < finance_results.the_year.length; i++) {
                    datavalue = finance_results.wgsd_com_eq[i] / invest_results.total_shares[i]
                    tempdata.push(datavalue)
                }
                temp = {
                    name: "net_assets_per_share",
                    type: 'line',
                    lineStyle: {normal: {width: 2}},
                    itemStyle: {normal: {color: Chosenindexes["net_assets_per_share"]}},
                    symbolSize: 8,
                    smooth: true,
                    data: numfilter(tempdata)
                };
                dataSeries.push(temp);
            }
            if (Chosenindexes.hasOwnProperty("cash_per_share")) {
                tempdata = []
                for (i = 0; i < finance_results.the_year.length; i++) {
                    datavalue = finance_results.monetary_cap[i] / invest_results.total_shares[i]
                    tempdata.push(datavalue)
                }
                temp = {
                    name: "cash_per_share",
                    type: 'line',
                    lineStyle: {normal: {width: 2}},
                    itemStyle: {normal: {color: Chosenindexes["cash_per_share"]}},
                    symbolSize: 8,
                    smooth: true,
                    data: numfilter(tempdata)
                };
                dataSeries.push(temp);
            }
            if (Chosenindexes.hasOwnProperty("payment_proportion")) {
                tempdata = []
                for (i = 0; i < finance_results.the_year.length; i++) {
                    datavalue = (invest_results.total_shares[i] * invest_results.div_cashandstock[i]) / finance_results.wgsd_net_inc[i]
                    tempdata.push(datavalue)
                }
                temp = {
                    name: "payment_proportion",
                    type: 'line',
                    lineStyle: {normal: {width: 2}},
                    itemStyle: {normal: {color: Chosenindexes["payment_proportion"]}},
                    symbolSize: 8,
                    smooth: true,
                    data: numfilter(tempdata)
                };
                dataSeries.push(temp);
            }
            if (Chosenindexes.hasOwnProperty("equal_earning_rate")) {
                tempdata = []
                for (i = 0; i < finance_results.the_year.length; i++) {
                    datavalue = 1 / (Math.pow(1 - finance_results.wgsd_net_inc[i] / finance_results.wgsd_com_eq[i], 5)) / (finance_results.wgsd_net_inc[i] / finance_results.wgsd_com_eq[i])
                    tempdata.push(datavalue)
                }
                temp = {
                    name: "equal_earning_rate",
                    type: 'line',
                    lineStyle: {normal: {width: 2}},
                    itemStyle: {normal: {color: Chosenindexes["equal_earning_rate"]}},
                    symbolSize: 8,
                    smooth: true,
                    data: numfilter(tempdata)
                };
                dataSeries.push(temp);
            }
            if (Chosenindexes.hasOwnProperty("equal_market_rate")) {
                tempdata = []
                for (i = 0; i < finance_results.the_year.length; i++) {
                    datavalue = 1 / ( Math.pow(1 - finance_results.wgsd_net_inc[i] / finance_results.wgsd_com_eq[i], 5))
                    tempdata.push(datavalue)
                }
                temp = {
                    name: "equal_market_rate",
                    type: 'line',
                    lineStyle: {normal: {width: 2}},
                    itemStyle: {normal: {color: Chosenindexes["equal_market_rate"]}},
                    symbolSize: 8,
                    smooth: true,
                    data: numfilter(tempdata)
                };
                dataSeries.push(temp);
            }
            if (Chosenindexes.hasOwnProperty("com_value_evaluate")) {
                tempdata = []
                for (i = 0; i < finance_results.the_year.length; i++) {
                    datavalue = finance_results.wgsd_net_inc[i] *
                            (1 / (Math.pow(1 - finance_results.wgsd_net_inc[i] / finance_results.wgsd_com_eq[i], 5)) / (finance_results.wgsd_net_inc[i] / finance_results.wgsd_com_eq[i]))
                    tempdata.push(datavalue)
                }
                temp = {
                    name: "com_value_evaluate",
                    type: 'line',
                    lineStyle: {normal: {width: 2}},
                    itemStyle: {normal: {color: Chosenindexes["com_value_evaluate"]}},
                    symbolSize: 8,
                    smooth: true,
                    data: numfilter(tempdata)
                };
                dataSeries.push(temp);
            }
            if (Chosenindexes.hasOwnProperty("per_com_value_evaluate")) {
                tempdata = []
                for (i = 0; i < finance_results.the_year.length; i++) {
                    datavalue = (finance_results.wgsd_net_inc[i] *
                            (1 / (Math.pow(1 - finance_results.wgsd_net_inc[i] / finance_results.wgsd_com_eq[i], 5)) / (finance_results.wgsd_net_inc[i] / finance_results.wgsd_com_eq[i]))) / invest_results.total_shares[i]
                    tempdata.push(datavalue)
                }
                temp = {
                    name: "per_com_value_evaluate",
                    type: 'line',
                    lineStyle: {normal: {width: 2}},
                    itemStyle: {normal: {color: Chosenindexes["per_com_value_evaluate"]}},
                    symbolSize: 8,
                    smooth: true,
                    data: numfilter(tempdata)
                };
                dataSeries.push(temp);
            }

            if (Chosenindexes.hasOwnProperty("fre_cash_evaluate")) {
                tempdata = []
                for (i = 0; i < finance_results.the_year.length; i++) {
                    datavalue = finance_results.operatecashflow_ttm2[i] + finance_results.investcashflow_ttm2[i]
                    tempdata.push(datavalue)
                }
                temp = {
                    name: "fre_cash_evaluate",
                    type: 'line',
                    lineStyle: {normal: {width: 2}},
                    itemStyle: {normal: {color: Chosenindexes["fre_cash_evaluate"]}},
                    symbolSize: 8,
                    smooth: true,
                    data: numfilter(tempdata)
                };
                dataSeries.push(temp);
            }
            if (Chosenindexes.hasOwnProperty("earning_rate")) {
                tempdata = []
                for (i = 0; i < finance_results.the_year.length; i++) {
                    datavalue = invest_results.ev[i] / finance_results.wgsd_net_inc[i]
                    tempdata.push(datavalue)
                }
                temp = {
                    name: "earning_rate",
                    type: 'line',
                    lineStyle: {normal: {width: 2}},
                    itemStyle: {normal: {color: Chosenindexes["earning_rate"]}},
                    symbolSize: 8,
                    smooth: true,
                    data: numfilter(tempdata)
                };
                dataSeries.push(temp);
            }
            if (Chosenindexes.hasOwnProperty("net_rate")) {
                tempdata = []
                for (i = 0; i < finance_results.the_year.length; i++) {
                    datavalue = invest_results.ev[i] / finance_results.wgsd_com_eq[i]
                    tempdata.push(datavalue)
                }
                temp = {
                    name: "net_rate",
                    type: 'line',
                    lineStyle: {normal: {width: 2}},
                    itemStyle: {normal: {color: Chosenindexes["net_rate"]}},
                    symbolSize: 8,
                    smooth: true,
                    data: numfilter(tempdata)
                };
                dataSeries.push(temp);
            }
            if (Chosenindexes.hasOwnProperty("sale_rate")) {
                tempdata = []
                for (i = 0; i < finance_results.the_year.length; i++) {
                    datavalue = invest_results.ev[i] / finance_results.tot_oper_rev[i]
                    tempdata.push(datavalue)
                }
                temp = {
                    name: "sale_rate",
                    type: 'line',
                    lineStyle: {normal: {width: 2}},
                    itemStyle: {normal: {color: Chosenindexes["sale_rate"]}},
                    symbolSize: 8,
                    smooth: true,
                    data: numfilter(tempdata)
                };
                dataSeries.push(temp);
            }
            if (Chosenindexes.hasOwnProperty("cash_rate")) {
                tempdata = []
                for (i = 0; i < finance_results.the_year.length; i++) {
                    datavalue = invest_results.ev[i] / finance_results.operatecashflow_ttm2[i]
                    tempdata.push(datavalue)
                }
                temp = {
                    name: "cash_rate",
                    type: 'line',
                    lineStyle: {normal: {width: 2}},
                    itemStyle: {normal: {color: Chosenindexes["cash_rate"]}},
                    symbolSize: 8,
                    smooth: true,
                    data: numfilter(tempdata)
                };
                dataSeries.push(temp);
            }
            if (Chosenindexes.hasOwnProperty("cash_yield_evaluate")) {
                tempdata = []
                for (i = 0; i < finance_results.the_year.length; i++) {
                    datavalue = (finance_results.operatecashflow_ttm2[i] + finance_results.investcashflow_ttm2[i]) / invest_results.ev[i]
                    tempdata.push(datavalue)
                }
                temp = {
                    name: "cash_yield_evaluate",
                    type: 'line',
                    lineStyle: {normal: {width: 2}},
                    itemStyle: {normal: {color: Chosenindexes["cash_yield_evaluate"]}},
                    symbolSize: 8,
                    smooth: true,
                    data: numfilter(tempdata)
                };
                dataSeries.push(temp);
            }
            option = {
                title: {
                    text: finance_results['the_name'] + '财务指标及分析',
                    left: '49%'
                },

                tooltip: {
                    trigger: 'item',
                    formatter: function (params) {
                        return dict[params.seriesName] + "</br>" + "时间：" + params.name + "</br>" + "数据：" + params.data

                    }
                },
                legend: {
                    data: [],
                    orient: 'vertical',
                    left: '85%',
                    top: '10%',
                    formatter: function (name) {
                        return dict[name];
                    }

                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '10%',
                    containLabel: true
                },
                toolbox: {
                    feature: {
                        magicType: {
                            type: ['line', 'bar', 'stack', 'tiled']
                        }
                    }

                },
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    axisTick: {
                        show: false
                    },
                    data: dateformat(finance_results.the_year),
                    Interval: 5
                },
                yAxis: {
                    type: 'value',
                    axisTick: {
                        show: false
                    },
                },
                dataZoom: [
                    {   // 这个dataZoom组件，默认控制x轴。
                        type: 'slider', // 这个 dataZoom 组件是 slider 型 dataZoom 组件
                        xAxisIndex: [0],
                        startValue: "2016年Q4",
                        {#   start: 0,      // 左边在 10% 的位置。
                            end: 100,         // 右边在 60% 的位置。
                            top: '93%'#}
                        endValue: "2006年Q4",
                        filterMode: 'filter',
                    },
                    {   // 这个dataZoom组件，默认控制x轴。
                        type: 'inside', // 这个 dataZoom 组件是 slider 型 dataZoom 组件
                        xAxisIndex: [0],
                        {#   start: 0,      // 左边在 10% 的位置。
                            end: 100,         // 右边在 60% 的位置。
                            top: '93%'#}
                        filterMode: 'filter',
                    }
                ],
                series: dataSeries
            };

            myChart.setOption(option, true);
            myChart.on('datazoom', function (params) {
                option.xAxis.interval = 10 * (params.end - params.start) / 100
            })
            myChart.on('mouseover', function (params) {
                oldwidth = option.series[params.seriesIndex].lineStyle.normal.width;
                if (oldwidth == 2) {
                    option.series[params.seriesIndex].lineStyle.normal.width = 4;
                    myChart.setOption(option);
                }
            })
            myChart.on('mouseout', function (params) {
                oldwidth = option.series[params.seriesIndex].lineStyle.normal.width;
                if (oldwidth == 4) {
                    option.series[params.seriesIndex].lineStyle.normal.width = 2;
                    myChart.setOption(option);
                }
            })
        }


    </script>
    <script>
        var finance_results_t;
        var invest_results_t;
        function RequestTable() {

            var opt = myChart.getOption();
            var dz = opt.dataZoom[0];
            $.ajax({
                type: 'GET',
                url: '{{url_for("restfulapi.finance_data")}}',
                data: {
                    stockcode:{{ stockcode|safe }},
                    starttime: opt.xAxis[0].data[dz.endValue],
                    endtime: opt.xAxis[0].data[dz.startValue],
                    indexes: ['tot_oper_cost', 'tot_oper_rev', 'wgsd_net_inc', 'tot_assets', 'wgsd_com_eq', 'monetary_cap', 'operatecashflow_ttm2', 'investcashflow_ttm2']
                },
                dataType: 'json',//希望服务器返回json格式的数据
                success: function (data) {
                    console.log(data)
                    finance_results_t = data;
                    $.ajax({
                        type: 'GET',
                        url: '{{url_for("restfulapi.invest_data")}}',
                        data: {
                            stockcode: {{ stockcode|safe }},
                            starttime: opt.xAxis[0].data[dz.endValue],
                            endtime: opt.xAxis[0].data[dz.startValue],
                            indexes: ['total_shares', 'div_cashandstock', 'ev', 'employee', 'dividendyield2', 'ev1', 'ev2']
                        },
                        dataType: 'json',//希望服务器返回json格式的数据
                        success: function (data) {
                            invest_results_t = data;
                            CreateTable();

                        }
                    })
                }
            })
        }
        function CreateTable() {
            $("#mytable").empty();
            var table = $("<table id=\"temptable\" class=\"row-border hover order-column\" cellspacing=\"0\" width=\"100%\"  >");
            table.appendTo($("#mytable"));
            th = $("<thead></thead>");
            th.appendTo(table);
            var tr = $("<tr></tr>");
            tr.appendTo(th);
            var td = $("<td id=\"subject\">" + "项目" + "</td>");
            td.appendTo(tr);
            theyear = dateformat(finance_results_t.the_year)
            for (var j = 0; j < theyear.length; j++) {
                var td = $("<td>" + theyear[j] + "</td>");
                td.appendTo(tr);
            }
            tb = $("<tbody></tbody>");
            tb.appendTo(table);
            $("#mytable").append("</table>");
            var mydatatb = $('#temptable').DataTable({
                "info": false,
                "processing": true,
                "scrollX": true,
                "searching": true,
                "fixedColumns": { //固定列的配置项
                    "leftColumns": 1//固定左边第一列
                },
                "language": {
                    "emptyTable": "没有数据",
                    "loadingRecords": "加载中…",
                    "processing": "查询中…",
                    "search": "检索:",
                    "lengthMenu": "每页 _MENU_ 条",
                    "zeroRecords": "没有数据",
                    "paginate": {
                        "first": "第一页",
                        "last": "最后一页",
                        "next": "",
                        "previous": ""
                    },
                    "info": "第 _PAGE_ 页 / 总 _PAGES_ 页",
                    "infoEmpty": "没有数据",
                    "infoFiltered": "(过滤总件数 _MAX_ 条)"
                }
            });
            setTimeout("$(\"#subject\").trigger(\"click\")", 100);
            for (var i = 0; i < finance_results_t.indexes.length; i++) {
                if (Chosenindexes.hasOwnProperty(finance_results.indexes[i])) {
                    var rowNode = mydatatb
                            .row.add([dict[finance_results_t.indexes[i]]].concat(numfilter(eval("finance_results_t." + finance_results_t.indexes[i]))))
                            .draw()
                            .node();
                    $(rowNode)
                            .attr('id', finance_results_t.indexes[i]);
                }
            }
            for (var i = 0; i < invest_results_t.indexes.length; i++) {
                if (Chosenindexes.hasOwnProperty(invest_results_t.indexes[i])) {
                    var rowNode = mydatatb
                            .row.add([dict[invest_results_t.indexes[i]]].concat(numfilter(eval("invest_results_t." + invest_results_t.indexes[i]))))
                            .draw()
                            .node();
                    $(rowNode)
                            .attr('id', invest_results_t.indexes[i]);
                }
            }
            if (Chosenindexes.hasOwnProperty("net_inc_eq_rate")) {
                tempdata = []
                for (i = 0; i < finance_results_t.the_year.length; i++) {
                    datavalue = finance_results_t.wgsd_net_inc[i] / finance_results_t.wgsd_com_eq[i]
                    tempdata.push(datavalue)
                }
                var rowNode = mydatatb
                        .row.add([dict["net_inc_eq_rate"]].concat(numfilter(tempdata)))
                        .draw()
                        .node();
                $(rowNode)
                        .attr('id', "net_inc_eq_rate");
            }
            if (Chosenindexes.hasOwnProperty("earnings_per_share")) {
                tempdata = []
                for (i = 0; i < finance_results_t.the_year.length; i++) {
                    datavalue = finance_results_t.wgsd_net_inc[i] / invest_results_t.total_shares[i]
                    tempdata.push(datavalue)
                }

                var rowNode = mydatatb
                        .row.add([dict["earnings_per_share"]].concat(numfilter(tempdata)))
                        .draw()
                        .node();
                $(rowNode)
                        .attr('id', "earnings_per_share");
            }
            if (Chosenindexes.hasOwnProperty("net_assets_per_share")) {
                tempdata = []
                for (i = 0; i < finance_results_t.the_year.length; i++) {
                    datavalue = finance_results_t.wgsd_com_eq[i] / invest_results_t.total_shares[i]
                    tempdata.push(datavalue)
                }

                var rowNode = mydatatb
                        .row.add([dict["net_assets_per_share"]].concat(numfilter(tempdata)))
                        .draw()
                        .node();
                $(rowNode)
                        .attr('id', "net_assets_per_share");
            }
            if (Chosenindexes.hasOwnProperty("cash_per_share")) {
                tempdata = []
                for (i = 0; i < finance_results_t.the_year.length; i++) {
                    datavalue = finance_results_t.monetary_cap[i] / invest_results_t.total_shares[i]
                    tempdata.push(datavalue)
                }

                var rowNode = mydatatb
                        .row.add([dict["cash_per_share"]].concat(numfilter(tempdata)))
                        .draw()
                        .node();
                $(rowNode)
                        .attr('id', "cash_per_share");
            }
            if (Chosenindexes.hasOwnProperty("payment_proportion")) {
                tempdata = []
                for (i = 0; i < finance_results_t.the_year.length; i++) {
                    datavalue = (invest_results_t.total_shares[i] * invest_results_t.div_cashandstock[i]) / finance_results_t.wgsd_net_inc[i]
                    tempdata.push(datavalue)
                }

                var rowNode = mydatatb
                        .row.add([dict["payment_proportion"]].concat(numfilter(tempdata)))
                        .draw()
                        .node();
                $(rowNode)
                        .attr('id', "payment_proportion");
            }
            if (Chosenindexes.hasOwnProperty("equal_earning_rate")) {
                tempdata = []
                for (i = 0; i < finance_results_t.the_year.length; i++) {
                    datavalue = 1 / (Math.pow(1 - finance_results_t.wgsd_net_inc[i] / finance_results_t.wgsd_com_eq[i], 5)) / (finance_results_t.wgsd_net_inc[i] / finance_results_t.wgsd_com_eq[i])
                    tempdata.push(datavalue)
                }

                var rowNode = mydatatb
                        .row.add([dict["equal_earning_rate"]].concat(numfilter(tempdata)))
                        .draw()
                        .node();
                $(rowNode)
                        .attr('id', "equal_earning_rate");
            }
            if (Chosenindexes.hasOwnProperty("equal_market_rate")) {
                tempdata = []
                for (i = 0; i < finance_results_t.the_year.length; i++) {
                    datavalue = 1 / ( Math.pow(1 - finance_results_t.wgsd_net_inc[i] / finance_results_t.wgsd_com_eq[i], 5))
                    tempdata.push(datavalue)
                }

                var rowNode = mydatatb
                        .row.add([dict["equal_market_rate"]].concat(numfilter(tempdata)))
                        .draw()
                        .node();
                $(rowNode)
                        .attr('id', "equal_market_rate");
            }
            if (Chosenindexes.hasOwnProperty("com_value_evaluate")) {
                tempdata = []
                for (i = 0; i < finance_results_t.the_year.length; i++) {
                    datavalue = finance_results_t.wgsd_net_inc[i] *
                            (1 / (Math.pow(1 - finance_results_t.wgsd_net_inc[i] / finance_results_t.wgsd_com_eq[i], 5)) / (finance_results_t.wgsd_net_inc[i] / finance_results_t.wgsd_com_eq[i]))
                    tempdata.push(datavalue)
                }

                var rowNode = mydatatb
                        .row.add([dict["com_value_evaluate"]].concat(numfilter(tempdata)))
                        .draw()
                        .node();
                $(rowNode)
                        .attr('id', "com_value_evaluate");
            }
            if (Chosenindexes.hasOwnProperty("per_com_value_evaluate")) {
                tempdata = []
                for (i = 0; i < finance_results_t.the_year.length; i++) {
                    datavalue = (finance_results_t.wgsd_net_inc[i] *
                            (1 / (Math.pow(1 - finance_results_t.wgsd_net_inc[i] / finance_results_t.wgsd_com_eq[i], 5)) / (finance_results_t.wgsd_net_inc[i] / finance_results_t.wgsd_com_eq[i]))) / invest_results_t.total_shares[i]
                    tempdata.push(datavalue)
                }

                var rowNode = mydatatb
                        .row.add([dict["per_com_value_evaluate"]].concat(numfilter(tempdata)))
                        .draw()
                        .node();
                $(rowNode)
                        .attr('id', "per_com_value_evaluate");
            }

            if (Chosenindexes.hasOwnProperty("fre_cash_evaluate")) {
                tempdata = []
                for (i = 0; i < finance_results_t.the_year.length; i++) {
                    datavalue = finance_results_t.operatecashflow_ttm2[i] + finance_results_t.investcashflow_ttm2[i]
                    tempdata.push(datavalue)
                }

                var rowNode = mydatatb
                        .row.add([dict["fre_cash_evaluate"]].concat(numfilter(tempdata)))
                        .draw()
                        .node();
                $(rowNode)
                        .attr('id', "fre_cash_evaluate");
            }
            if (Chosenindexes.hasOwnProperty("earning_rate")) {
                tempdata = []
                for (i = 0; i < finance_results_t.the_year.length; i++) {
                    datavalue = invest_results_t.ev[i] / finance_results_t.wgsd_net_inc[i]
                    tempdata.push(datavalue)
                }

                var rowNode = mydatatb
                        .row.add([dict["earning_rate"]].concat(numfilter(tempdata)))
                        .draw()
                        .node();
                $(rowNode)
                        .attr('id', "earning_rate");
            }
            if (Chosenindexes.hasOwnProperty("net_rate")) {
                tempdata = []
                for (i = 0; i < finance_results_t.the_year.length; i++) {
                    datavalue = invest_results_t.ev[i] / finance_results_t.wgsd_com_eq[i]
                    tempdata.push(datavalue)
                }

                var rowNode = mydatatb
                        .row.add([dict["net_rate"]].concat(numfilter(tempdata)))
                        .draw()
                        .node();
                $(rowNode)
                        .attr('id', "net_rate");
            }
            if (Chosenindexes.hasOwnProperty("sale_rate")) {
                tempdata = []
                for (i = 0; i < finance_results_t.the_year.length; i++) {
                    datavalue = invest_results_t.ev[i] / finance_results_t.tot_oper_rev[i]
                    tempdata.push(datavalue)
                }

                var rowNode = mydatatb
                        .row.add([dict["sale_rate"]].concat(numfilter(tempdata)))
                        .draw()
                        .node();
                $(rowNode)
                        .attr('id', "sale_rate");
            }
            if (Chosenindexes.hasOwnProperty("cash_rate")) {
                tempdata = []
                for (i = 0; i < finance_results_t.the_year.length; i++) {
                    datavalue = invest_results_t.ev[i] / finance_results_t.operatecashflow_ttm2[i]
                    tempdata.push(datavalue)
                }

                var rowNode = mydatatb
                        .row.add([dict["cash_rate"]].concat(numfilter(tempdata)))
                        .draw()
                        .node();
                $(rowNode)
                        .attr('id', "cash_rate");
            }
            if (Chosenindexes.hasOwnProperty("cash_yield_evaluate")) {
                tempdata = []
                for (i = 0; i < finance_results_t.the_year.length; i++) {
                    datavalue = (finance_results_t.operatecashflow_ttm2[i] + finance_results_t.investcashflow_ttm2[i]) / invest_results_t.ev[i]
                    tempdata.push(datavalue)
                }

                var rowNode = mydatatb
                        .row.add([dict["cash_yield_evaluate"]].concat(numfilter(tempdata)))
                        .draw()
                        .node();
                $(rowNode)
                        .attr('id', "cash_yield_evaluate");
            }
            for (var key in Chosenindexes) {
                $('tr#' + key).css('color', Chosenindexes[key])
            }


        }
        function NewColor() {
            var colorElements = "0,1,2,3,4,5,6,7,8,9,a,b,c,d,e,f";
            var colorArray = colorElements.split(",");
            var color = "#";
            for (var i = 0; i < 6; i++) {
                color += colorArray[Math.floor(Math.random() * 16)];
            }
            return color;
        }
        function numfilter(oldnum) {
            newnum = []
            for (i = 0; i < oldnum.length; i++) {
                temp = oldnum[i] / denominator;
                temp.toFixed(2);
                newnum.push(temp)
            }
            return newnum;
        }
        function dateformat(olddate) {
            newdate = []

            for (i = 0; i < olddate.length; i++) {
                var str = olddate[i];
                var reg = /1231/g;
                str = str.replace(reg, '年Q4');
                newdate.push(str)
            }
            return newdate
        }
    </script>


{% endblock %}