{% extends "stock_base.html" %}

{% block current_user %}
    当前用户：{{ current_user.username }}
{% endblock %}

{% block body %}
	{% block tab %}{% endblock %}
<br>
	{% block search %}{% endblock %}
    <div id="myTabContent">
        <div id="basics" style="height:80%;width: 100%;">
            <div class="leftbox" style="position:relative;">
                {% block choice %}{% endblock %}
            </div>
            <div class="rightbox">
                <ul id="myTab" class="nav nav-tabs">
                    <li class="disabled">
                        <a href="javascript:return false;" data-toggle="tab" disabled='true'>视图：</a>
                    </li>
                    <li><a href="#chart" data-toggle="tab">图表</a></li>
                    <li><a href="#table" data-toggle="tab" onclick="RequestTable()">数据</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade in active" id="chart">
                        {% block chart %}{% endblock %}
                    </div>
                    <div class="tab-pane fade" id="table">
                        {% block table %}{% endblock %}
                    </div>
                </div>
                <div class="well well-lg" >
                    {% block toolbox %}{% endblock %}
                </div>

            </div>

        </div>
    </div>

    {% block scripts %} {% endblock %}
{% endblock %}