{% extends "stock_group_base.html" %}
{% block tab %}
        <ul class="nav nav-pills">
            <li><a href="{{ url_for('stock_group.cns_home') }}">沪深交易所A股上市公司</a></li>
            <li><a href="{{ url_for('stock_group.cnsb_home') }}">沪深交易所B股上市公司</a></li>
            <li><a href="{{ url_for('stock_group.hushen_300') }}">沪深300成分股</a></li>
            <li><a href="{{ url_for('stock_group.shangzheng_50') }}">上证50成分股</a></li>
            <li class="active"><a href="{{ url_for('stock_group.lugutong') }}">陆股通</a></li>
        </ul>
{% endblock %}
{% block form %}
    <div class="btn-box-row row-fluid">
        <div class="module span12" style="background-color: transparent">
            <div class="module-head">行业状况（筛选条件：<span id="condition"></span>&nbsp;&nbsp;&nbsp;&nbsp;共有记录<span
                    id="sumcount"></span>条）
                <button class="btn btn-primary" style="float: right" onclick="reinitpages()">清空筛选条件</button>
            </div>
            <div class="row-fluid">
                <div class="btn-box small span3">
                    <div id="pie_1" style="width:100%;height:200px;background-color: white">
                    </div>
                </div>
                <div class="btn-box small span3">
                    <div id="pie_2" style="width:100%;height:200px;background-color: white">
                    </div>
                </div>
                <div class="btn-box small span3">
                    <div id="pie_3" style="width:100%;height:200px;background-color: white">
                    </div>
                </div>
                <div class="btn-box small span3">
                    <div id="pie_4" style="width:100%;height:200px;background-color: white">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block industry %}
<table  id="fixTable" class="row-border hover order-column display" cellspacing="0" width="100%"
           style="white-space: nowrap;">
    <thead>
        <tr >
            <td style="background-color: #F1F0EE">证券代码</td>
            <td style="background-color: #F1F0EE">证券名称</td>
            <td style="background-color: #F1F0EE">上市时间</td>
            <td>部门</td>
            <td>行业组</td>
            <td>行业</td>
            <td>子行业</td>
            <td>主营业务</td>
            <td>所在区域</td>
            <td>注册城市</td>
            <td>交易所</td>
            <td>所属国家</td>
            <td>交易币种</td>
            <td>公司属性</td>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
{% endblock %}

{% block bottombody %}

    {#    悬浮地图按钮#}
    <div id="dg" style="z-index: 9999; position: fixed ! important; right: 40px; top:100px;">
        <input type="button" value="全国" id="all_province">
        <input type="button" data-toggle="modal" data-target="#modal_map"
               style="margin-left:10px;background:url('{{ url_for('static',filename='China_map.jpg') }}') no-repeat center  ; width:50px; height:50px;background-size:100% 100%;border-radius:10px;">
        </br>
        <a id="province_selected"></a>
    </div>

    <!-- 模态框 组 -->
    <div class="modal fade" id="department_industry" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        筛选：部门
                    </h4>
                </div>
                <div class="modal-body">
                    <select id="gic1_select"></select>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" value="重置" onclick="reinitpages()"
                           contenteditable="true">
                    <input type="submit" class="btn btn-primary" value="筛选" onclick="gic1_select_commit()"
                           contenteditable="true">
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <div class="modal fade" id="group_industry" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        筛选：行业组
                    </h4>
                </div>
                <div class="modal-body">
                    <select id="gic2_select"></select>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" value="重置" onclick="reinitpages()"
                           contenteditable="true">
                    <input type="submit" class="btn btn-primary" value="筛选" onclick="gic2_select_commit()"
                           contenteditable="true">
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <div class="modal fade" id="industry_why" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        筛选：行业
                    </h4>
                </div>
                <div class="modal-body">
                    <select id="gic3_select"></select>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" value="重置" onclick="reinitpages()"
                           contenteditable="true">
                    <input type="submit" class="btn btn-primary" value="筛选" onclick="gic3_select_commit()"
                           contenteditable="true">
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <div class="modal fade" id="sub_industry" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        筛选：子行业
                    </h4>
                </div>
                <div class="modal-body">
                    <select id="gic4_select"></select>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" value="重置" onclick="reinitpages()"
                           contenteditable="true">
                    <input type="submit" class="btn btn-primary" value="筛选" onclick="gic4_select_commit()"
                           contenteditable="true">
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">
                        修改
                    </h4>
                </div>

                <div class="modal-body" style="height: auto;">
                    <form id="Myform" role="form" method="post" action="#">
                        <select class="form-control" id="gics_1" style="margin-bottom: 10px">
                        </select>
                        <select class="form-control" id="gics_2" style="margin-bottom: 10px">
                        </select>
                        <select class="form-control" id="gics_3" style="margin-bottom: 10px">
                        </select>
                        <select class="form-control" id="gics_4" style="margin-bottom: 10px">
                        </select>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-primary" id="commit">
                        提交更改
                    </button>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    {#    地图模态框#}
    <div class="modal hide fade" id="modal_map">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>地图</h3>
        </div>
        <div class="modal-body">
            <div id="map" style="height:400px;width:500px;margin:0 auto"></div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-primary" data-dismiss="modal">关闭</a>
        </div>
    </div>


{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function () {
            mytable = $("#fixTable").DataTable({
                "info": false,
                "ordering": false,
                "processing": true,
                "scrollY": true,
                "scrollX": true,
                "searching": true,
                "paging": true,
                "pageLength": 15,
                "fixedColumns": { //固定列的配置项
                    "leftColumns": 3//固定左边第一列
                },
                "columnDefs": [{
                    "targets": 1,
                    "render": function (data, type, row) {
                        html ={{ url_for('stock_solo.basic') }};
                        return '<a href="' + html + row[0] + '">' + data + '</a>';
                    }
                }, {
                    "targets": 6,
                    "render": function (data, type, row) {
                        return data + '<a href="#" class="small-box-footer updatelink" id="' + row[0] + '"data-toggle="modal" data-target="#myModal" onclick="selectedcode=this.id;" >修改</a>'
                    }
                }, {
                    "targets": 7,
                    "render": function (data, type, row) {
                        return '<div id="a" style="width:100px;overflow: hidden;text-overflow: ellipsis;" ' + 'title="' + detailFormat(data) + '">' + data + '</div>';
                    }
                }],
                "language": {
                    "emptyTable": "没有数据",
                    "loadingRecords": "加载中…",
                    "processing": "查询中…",
                    "search": "检索:",
                    "lengthMenu": "每页 _MENU_ 条",
                    "zeroRecords": "没有数据",
                    "paginate": {
                        "first": "第一页",
                        "last": "最后一页",
                        "next": "",
                        "previous": ""
                    },
                    "info": "第 _PAGE_ 页 / 总 _PAGES_ 页",
                    "infoEmpty": "没有数据",
                    "infoFiltered": "(过滤总件数 _MAX_ 条)"
                },
                dom: 'Bfrtip',
                buttons: {
                    buttons: [
                        {extend: 'copy', 'text': '复制', 'className': 'btn btn-default btn-xs',},
                        {extend: 'excel', 'text': '导出Excel', 'className': 'btn btn-default btn-xs',}
                    ]
                }
            })
            area = "%"
            gic1 = "%"
            gic2 = "%"
            gic3 = "%"
            gic4 = "%"
            initpage()
            creatmap()
        })
    </script>
    <script>
        var selectedcode;
        $('#myModal').on('show.bs.modal', function () {
            showgics1()
            // 执行一些动作...
        })
        $("#commit").click(function () {
            changegics($("#gics_4").val(), $("#gics_4").text())
        })

        function showgics1() {
            $.ajax({
                url: '{{url_for("restfulapi.gics_1")}}', //所需要的列表接口地址
                type: "get",
                dataType: "json",
                success: function (result) {
                    var h = "";
                    $.each(result, function (key, value) {
                        h += "<option value='" + value.gicscode1 + "'>" + value.gics1 //下拉框序言的循环数据
                            + "</option>";
                    });
                    $("#gics_1").append(h);//append 添加进去并展示
                    $("#gics_1").on(
                        "change",
                        function (a, b, c) {
                            showgics2($("#gics_1").val())
                        })
                    showgics2($("#gics_1").val())
                }
            });
        }

        function showgics2(data) {
            $.ajax({
                url: '{{url_for("restfulapi.gics_2")}}', //所需要的列表接口地址
                type: "get",
                dataType: "json",
                data: {"code": data},
                success: function (result) {
                    var h = "";
                    $.each(result, function (key, value) {
                        h += "<option value='" + value.gicscode2 + "'>" + value.gics2 //下拉框序言的循环数据
                            + "</option>";
                    });
                    var obj = document.getElementById('gics_2');
                    obj.options.length = 0;
                    $("#gics_2").append(h);//append 添加进去并展示
                    $("#gics_2").on(
                        "change",
                        function (a, b, c) {
                            showgics3($("#gics_2").val())
                        })
                    showgics3($("#gics_2").val())
                }
            });
        }

        function showgics3(data) {
            $.ajax({
                url: '{{url_for("restfulapi.gics_3")}}', //所需要的列表接口地址
                type: "get",
                dataType: "json",
                data: {"code": data},
                success: function (result) {
                    var h = "";
                    $.each(result, function (key, value) {
                        h += "<option value='" + value.gicscode3 + "'>" + value.gics3 //下拉框序言的循环数据
                            + "</option>";
                    });
                    var obj = document.getElementById('gics_3');
                    obj.options.length = 0;
                    $("#gics_3").append(h);//append 添加进去并展示
                    $("#gics_3").on(
                        "change",
                        function (a, b, c) {
                            showgics4($("#gics_3").val())
                        })
                    showgics4($("#gics_3").val())

                }
            });
        }

        function showgics4(data) {
            $.ajax({
                url: '{{url_for("restfulapi.gics_4")}}', //所需要的列表接口地址
                type: "get",
                dataType: "json",
                data: {"code": data},
                success: function (result) {
                    var h = "";
                    $.each(result, function (key, value) {
                        h += "<option value='" + value.gicscode4 + "'>" + value.gics4 //下拉框序言的循环数据
                            + "</option>";
                    });
                    var obj = document.getElementById('gics_4');
                    obj.options.length = 0;
                    $("#gics_4").append(h);//append 添加进去并展示
                }
            });
        }

        function changegics(code, name) {
            $.ajax({
                url: '{{url_for("stock_group_api.update_gics")}}', //所需要的列表接口地址
                type: "post",
                dataType: "html",
                data: {
                    "trade_code": selectedcode,
                    "gics_4": code,
                    "gics_name": name
                },
                success: function (result) {
                    window.location.reload()
                }
            });

        }

        function detailFormat(str) {
            var t = str.length / 40
            var newstr = ""
            for (i = 0; i < t - 1; i++) {
                newstr += str.substring(40 * i, 40 * (i + 1)) + "&#10;"
            }
            newstr += str.substring(40 * i)
            return newstr
        }
    </script>
    <script>
        var area = ""
        $("#province_selected").text('当前选中:全国')

        function creatmap() {
            var myChart = echarts.init(document.getElementById('map'));
            var option = {
                tooltip: {
//                    show: false //不显示提示标签
                    formatter: '{b}', //提示标签格式
                    backgroundColor: "#585eaa",//提示标签背景颜色
                    textStyle: {color: "#feeeed"} //提示标签字体颜色
                },
                series: [{
                    type: 'map',
                    mapType: 'china',
                    label: {
                        normal: {
                            show: true,//显示省份标签
                            textStyle: {color: "#fffef9"}//省份标签字体颜色
                        },
                        emphasis: {//对应的鼠标悬浮效果
                            show: true,
                            textStyle: {color: "#800080"}
                        }
                    },
                    itemStyle: {
                        normal: {
                            borderWidth: .5,//区域边框宽度
                            borderColor: '#102b6a',//区域边框颜色
                            areaColor: "#426ab3",//区域颜色
                        },
                        emphasis: {
                            borderWidth: .5,
                            borderColor: '#4b0082',
                            areaColor: "#ffdead",
                        }
                    },
                    selectedMode: 'single',
                    data: [
                        {name: area, selected: true}//福建为选中状态
                    ]
                }],
            };
            myChart.setOption(option);
            myChart.on('click', function (params) {//点击事件
                var dataIndex = params.dataIndex;
                area = params.name
                $("#province_selected").text('当前选中:' + area)
                params.selected = 'true'
                initpage()
            })
        }

        $("#all_province").click(function () {
            area = "%"
            $("#province_selected").text('当前选中:全国')
            initpage()
        })
    </script>
    <script>
        var dact = {
            '10': '能源',
            '15': '材料',
            '20': '工业',
            '25': '可选消费',
            '30': '日常消费',
            '35': '医疗保健',
            '40': '金融',
            '45': '信息技术',
            '55': '公用事业',
            '60': '房地产',
        };
        var dbct = {
            '1010': '能源Ⅱ',
            '1510': '材料Ⅱ',
            '2010': '资本货物',
            '2020': '商业和专业服务',
            '2030': '运输',
            '2510': '汽车与汽车零部件',
            '2520': '耐用消费品与服装',
            '2530': '消费者服务Ⅱ',
            '2540': '媒体Ⅱ',
            '2550': '零售业',
            '3010': '食品与主要用品零售Ⅱ',
            '3020': '食品、饮料与烟草',
            '3030': '家庭与个人用品',
            '3510': '医疗保健设备与服务',
            '3520': '制药、生物科技与生命科学',
            '4010': '银行',
            '4020': '多元金融<',
            '4030': '保险Ⅱ',
            '4510': '软件与服务',
            '4520': '技术硬件与设备',
            '4530': '半导体与半导体生产设备',
            '5010': '电信服务Ⅱ',
            '5510': '公用事业Ⅱ',
            '6010': '房地产Ⅱ'
        };
        var dcct = {
            '101010': '能源设备与服务',
            '101020': '石油、天然气与供消费用燃料',
            '151010': '化工',
            '151020': '建材Ⅲ',
            '151030': '容器与包装',
            '151040': '金属、非金属与采矿',
            '151050': '纸与林木产品',
            '201010': '航空航天与国防Ⅲ',
            '201020': '建筑产品Ⅲ',
            '201030': '建筑与工程Ⅲ',
            '201040': '电气设备',
            '201050': '综合类Ⅲ',
            '201060': '机械',
            '201070': '贸易公司与工业品经销商Ⅲ ',
            '202010': '商业服务与用品',
            '202020': '专业服务',
            '203010': '航空货运与物流Ⅲ',
            '203020': '航空Ⅲ',
            '203030': '海运Ⅲ',
            '203040': '公路与铁路运输',
            '203050': '交通基础设施',
            '251010': '汽车零配件',
            '251020': '汽车',
            '252010': '家庭耐用消费品',
            '252020': '休闲设备与用品',
            '252030': '纺织品、服装与奢侈品',
            '253010': '酒店、餐馆与休闲Ⅲ',
            '253020': '综合消费者服务Ⅲ',
            '254010': '媒体Ⅲ',
            '255010': '消费品经销商Ⅲ',
            '255020': '互联网与售货目录零售',
            '255030': '多元化零售',
            '255040': '专营零售',
            '301010': '食品与主要用品零售Ⅲ',
            '302010': '饮料',
            '302020': '食品',
            '303010': '家庭用品Ⅲ',
            '303020': '个人用品Ⅲ ',
            '351010': '医疗保健设备与用品',
            '351020': '医疗保健提供商与服务',
            '351030': '医疗保健技术Ⅲ',
            '352010': '生物科技Ⅲ',
            '352020': '制药',
            '352030': '生命科学工具和服务Ⅲ',
            '401010': '商业银行',
            '402010': '多元金融服务',
            '402030': '资本市场',
            '403010': '保险Ⅲ',
            '451010': '互联网软件与服务Ⅲ',
            '451020': '信息技术服务',
            '451030': '软件',
            '452010': '通信设备Ⅲ',
            '452020': '电脑与外围设备',
            '452030': '电子设备、仪器和元件',
            '453010': '半导体产品与半导体设备',
            '501010': '多元电信服务',
            '501020': '无线电信业务Ⅲ',
            '551010': '电力Ⅲ',
            '551020': '燃气Ⅲ',
            '551030': '复合型公用事业Ⅲ ',
            '551040': '水务Ⅲ',
            '551050': '独立电力生产商与能源贸易商Ⅲ',
            '601020': '房地产管理和开发',
        };
        var ddct = {
            '10101010': '石油天然气钻井',
            '10101020': '石油天然气设备与服务',
            '10102010': '综合性石油天然气',
            '10102020': '石油天然气勘探与生产',
            '10102030': '石油与天然气的炼制和销售',
            '10102040': '石油与天然气的储存和运输',
            '10102050': '煤炭与消费用燃料',
            '15101010': '基础化工',
            '15101011': '化纤',
            '15101020': '多元化工',
            '15101030': '化肥与农用化工',
            '15101040': '工业气体',
            '15101050': '特种化工',
            '15102010': '建材 ',
            '15103010': '金属与玻璃容器',
            '15103020': '纸包装',
            '15104010': '铝',
            '15104020': '金属非金属',
            '15104030': '黄金',
            '15104040': '贵金属与矿石',
            '15104045': '白银',
            '15104050': '钢铁',
            '15105010': '林木产品',
            '15105020': '纸制品',
            '20101010': '航天航空与国防',
            '20102010': '建筑产品',
            '20103010': '建筑与工程',
            '20104010': '电气部件与设备',
            '20104020': '重型电气设备',
            '20105010': '综合类行业',
            '20106010': '建筑机械与重型卡车',
            '20106015': '农用农业机械',
            '20106020': '工业机械',
            '20107010': '贸易公司与工业品经销商',
            '20201010': '商业印刷',
            '20201050': '环境与设施服务',
            '20201060': '办公服务与用品',
            '20201070': '综合支持服务',
            '20201080': '安全和报警服务',
            '20202020': '调查和咨询服务',
            '20301010': '航空货运与物流',
            '20302010': '航空 ',
            '20303010': '海运',
            '20304010': '铁路运输',
            '20304020': '公路运输',
            '20305010': '机场服务',
            '20305020': '公路与铁路',
            '20305030': '海港与服务',
            '25101010': '汽车零配件',
            '25101020': '轮胎与橡胶',
            '25102010': '汽车制造',
            '25102020': '摩托车制造',
            '25201010': '消费电子产品',
            '25201020': '家庭装饰品',
            '25201030': '住宅建筑',
            '25201040': '家用电器',
            '25201050': '家用器具与特殊消费品',
            '25202010': '休闲用品',
            '25202020': '摄影用品',
            '25203010': '服装、服饰与奢侈品',
            '25203020': '鞋类',
            '25203030': '纺织品',
            '25301020': '酒店、度假村与豪华游轮',
            '25301030': '休闲设施',
            '25301040': '餐馆',
            '25302010': '教育服务',
            '25401010': '广告',
            '25401020': '有线和卫星电视',
            '25401030': '电影与娱乐',
            '25401040': '出版',
            '25501010': '消费品经销商',
            '25502010': '售货目录零售',
            '25502020': '互联网零售',
            '25503010': '百货商店',
            '25503020': '综合货品商店',
            '25504020': '电脑与电子产品零售',
            '25504030': '专卖店',
            '25504050': '汽车零售',
            '30101010': '药品零售',
            '30101020': '食品分销商',
            '30101030': '食品零售',
            '30101040': '大卖场与超市',
            '30201010': '啤酒',
            '30201020': '白酒与葡萄酒',
            '30201030': '软饮料',
            '30202010': '农产品',
            '30202030': '食品加工与肉类',
            '30301010': '家庭用品',
            '30302010': '个人用品',
            '35101010': '医疗保健设备',
            '35101020': '医疗保健用品',
            '35102015': '保健护理服务',
            '35102020': '保健护理设施',
            '35103010': '医疗保健技术',
            '35201010': '生物科技',
            '35202010': '西药',
            '35202011': '中药',
            '35203010': '生命科学工具和服务',
            '40101010': '多元化银行',
            '40101015': '区域性银行',
            '40201020': '其他多元金融服务',
            '40201030': '多领域控股',
            '40203010': '资产管理与托管银行',
            '40203020': '投资银行业与经纪业',
            '40203030': '多元资本市场',
            '40301020': '人寿与健康保险',
            '40301030': '多元化保险',
            '40301040': '财产与意外伤害保险',
            '45101010': '互联网软件与服务',
            '45102010': '信息科技咨询与其它服务',
            '45102020': '数据处理与外包服务',
            '45103010': '应用软件',
            '45103020': '系统软件',
            '45103030': '家庭娱乐软件',
            '45202010': '通信设备',
            '45201020': '电脑硬件',
            '45202020': '电脑存储与外围设备',
            '45203010': '电子元件',
            '45203015': '电子设备和仪器',
            '45203020': '电子制造服务',
            '45303030': '技术产品经销商',
            '45301010': '半导体设备',
            '45301020': '半导体产品',
            '50101010': '非传统电信运营商',
            '50101020': '综合电信服务',
            '50102010': '无线电信业务',
            '55101010': '电力',
            '55102010': '燃气',
            '55103010': '复合型公用事业',
            '55104010': '水务',
            '55105010': '独立电力生产商与能源贸易商',
            '55105020': '新能源发电业者',
            '60102020': '房地产经营公司',
            '60102030': '房地产开发',
            '60102040': '房地产服务',
        };
        var gic1 = ""
        var gic2 = ""
        var gic3 = ""
        var gic4 = ""
        var pie1_data
        var pie2_data
        var pie3_data
        var pie4_data
        var myChart_pie1 = echarts.init(document.getElementById('pie_1'));
        var myChart_pie2 = echarts.init(document.getElementById('pie_2'));
        var myChart_pie3 = echarts.init(document.getElementById('pie_3'));
        var myChart_pie4 = echarts.init(document.getElementById('pie_4'));

        function creat_pie() {
            option_pie1 = {
                title: {
                    text: '部门',
                    left: '30%'
                },
                tooltip: {
                    trigger: 'item',
                    formatter: function (params) {
                        return params.value
                    }
                },
                series: [
                    {
                        type: 'pie',
                        radius: ['50%', '70%'],
                        avoidLabelOverlap: false,
                        label: {
                            normal: {
                                show: false,
                                position: 'center'
                            },
                            emphasis: {
                                show: true,
                                textStyle: {
                                    fontSize: '25',
                                    fontWeight: 'bold'
                                },
                                formatter: function (params) {
                                    return dact[params.name]
                                }
                            }
                        },
                        labelLine: {
                            normal: {
                                show: false
                            }
                        },
                        data: pie1_data
                    }
                ]
            };
            myChart_pie1.setOption(option_pie1, true);
            option_pie2 = {
                title: {
                    text: '行业',
                    left: '30%'
                },
                tooltip: {
                    trigger: 'item',
                    formatter: function (params) {
                        return params.value
                    }
                },
                series: [
                    {
                        type: 'pie',
                        radius: ['50%', '70%'],
                        avoidLabelOverlap: false,
                        label: {
                            normal: {
                                show: false,
                                position: 'center'
                            },
                            emphasis: {
                                show: true,
                                textStyle: {
                                    fontSize: '25',
                                    fontWeight: 'bold'
                                },
                                formatter: function (params) {
                                    return dbct[params.name]
                                }
                            }
                        },
                        labelLine: {
                            normal: {
                                show: false
                            }
                        },
                        data: pie2_data
                    }
                ]
            };
            myChart_pie2.setOption(option_pie2, true);
            option_pie3 = {
                title: {
                    text: '行业组',
                    left: '30%'
                },
                tooltip: {
                    trigger: 'item',
                    formatter: function (params) {
                        return params.value
                    }
                },
                series: [
                    {
                        type: 'pie',
                        radius: ['50%', '70%'],
                        avoidLabelOverlap: false,
                        label: {
                            normal: {
                                show: false,
                                position: 'center'
                            },
                            emphasis: {
                                show: true,
                                textStyle: {
                                    fontSize: '25',
                                    fontWeight: 'bold'
                                },
                                formatter: function (params) {
                                    return dcct[params.name]
                                }
                            }
                        },
                        labelLine: {
                            normal: {
                                show: false
                            }
                        },
                        data: pie3_data
                    }
                ]
            };
            myChart_pie3.setOption(option_pie3, true);
            option_pie4 = {
                title: {
                    text: '子行业',
                    left: '30%'
                },
                tooltip: {
                    trigger: 'item',
                    formatter: function (params) {
                        return params.value
                    }
                },
                series: [
                    {
                        type: 'pie',
                        radius: ['50%', '70%'],
                        avoidLabelOverlap: false,
                        label: {
                            normal: {
                                show: false,
                                position: 'center'
                            },
                            emphasis: {
                                show: true,
                                textStyle: {
                                    fontSize: '25',
                                    fontWeight: 'bold'
                                },
                                formatter: function (params) {
                                    return ddct[params.name]
                                }
                            }
                        },
                        labelLine: {
                            normal: {
                                show: false
                            }
                        },
                        data: pie4_data
                    }
                ]
            };
            myChart_pie4.setOption(option_pie4, true);
            myChart_pie1.on("click", function (params) {
                gic1 = params.name
                gic2 = "%"
                gic3 = "%"
                gic4 = "%"
                initpage()
            })
            myChart_pie2.on("click", function (params) {
                gic2 = params.name
                gic1 = "%"
                gic3 = "%"
                gic4 = "%"
                initpage()
            })
            myChart_pie3.on("click", function (params) {
                gic3 = params.name
                gic1 = "%"
                gic2 = "%"
                gic4 = "%"
                initpage()
            })
            myChart_pie4.on("click", function (params) {
                gic4 = params.name
                gic1 = "%"
                gic2 = "%"
                gic3 = "%"
                initpage()
            })

        }

        function showcondition(sumcount) {
            if (area == "%")
                condition_message = "全国"
            else
                condition_message = area
            condition_message += "&nbsp;&nbsp;&nbsp;&nbsp;"
            if (gic1 != "%")
                condition_message += dact[gic1]
            if (gic2 != "%")
                condition_message += dbct[gic2]
            if (gic3 != "%")
                condition_message += dcct[gic3]
            if (gic4 != "%")
                condition_message += ddct[gic4]
            $("#condition").html(condition_message)
            $("#sumcount").html(sumcount)
        }

        function initpage() {
            $.ajax({
                url: '{{url_for("stock_group_api.get_lugutong_data")}}', //所需要的列表接口地址
                type: "get",
                data: {
                    "area": area,
                    "gic1": gic1,
                    "gic2": gic2,
                    "gic3": gic3,
                    "gic4": gic4
                },
                dataType: "json",
                success: function (result) {
                    pie1_data = result.pie1_data
                    pie2_data = result.pie2_data
                    pie3_data = result.pie3_data
                    pie4_data = result.pie4_data
                    creat_pie()
                    mytable.clear()
                    mytable.rows.add(result.stockinfo).draw()
                    showcondition(result.stockinfo.length)
                }
            });
        }

        function reinitpages() {
            area = "%"
            gic1 = "%"
            gic2 = "%"
            gic3 = "%"
            gic4 = "%"
            initpage()
        }
    </script>
    <script>
        for (var key in dact) {
            var opt = $("<option></option>").text(dact[key]).val(key);
            $("#gic1_select").append(opt)
        }
        for (var key in dbct) {
            var opt = $("<option></option>").text(dbct[key]).val(key);
            $("#gic2_select").append(opt)
        }
        for (var key in dcct) {
            var opt = $("<option></option>").text(dcct[key]).val(key);
            $("#gic3_select").append(opt)
        }
        for (var key in ddct) {
            var opt = $("<option></option>").text(ddct[key]).val(key);
            $("#gic4_select").append(opt)
        }

        function gic1_select_commit() {
            gic1 = $("#gic1_select").val()
            gic2 = "%"
            gic3 = "%"
            gic4 = "%"
            $('#department_industry').modal('hide')
            initpage()

        }

        function gic2_select_commit() {
            gic2 = $("#gic2_select").val()
            gic1 = "%"
            gic3 = "%"
            gic4 = "%"
            $('#group_industry').modal('hide')
            initpage()
        }

        function gic3_select_commit() {
            gic3 = $("#gic3_select").val()
            gic1 = "%"
            gic2 = "%"
            gic4 = "%"
            $('#industry_why').modal('hide')
            initpage()
        }

        function gic4_select_commit() {
            gic4 = $("#gic4_select").val()
            gic1 = "%"
            gic2 = "%"
            gic3 = "%"
            $('#sub_industry').modal('hide')
            initpage()
        }


    </script>
{% endblock %}

<SCRIPT Language=VBScript><!--

//-->


</SCRIPT>