<form id="backtest_form">
    <input type="text" value="DoubleMA_Strategy" style="display: none" name="type">
    <div class="row-fluid">
        <div class="span6">
            股票代码：<input type="text" placeholder="" name="instrument">
        </div>
        <div class="span6">
            投入资金：<input type="text" placeholder="" name="cash">
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6">
            手续费率：<input type="text" placeholder="" name="commission">
        </div>
        <div class="span6">
            策略名称：<input type="text" placeholder="" name="strategy_name">
        </div>
    </div>
{#    <div class="row-fluid">#}
{#        <div class="span6">#}
{#            回测结束日期：<input type="date" placeholder="" name="edate">#}
{#        </div>#}
{#    </div>#}
</form>
<div class="row-fluid">
    <button class="btn btn-primary submit" style="float: right">提交</button>
</div>

