<form id="backtest_form">
    <input type="text" value="Pair_Strategy_Based_Bank" style="display: none" name="type">
    <div class="row-fluid">
        <div class="span6">
            股票代码1：
            <div class="input-append input-group btn-group">
                <input type="text" class="stockcode" name="instrument_1">
                <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <!-- dropdown menu links -->
                </ul>
            </div>
        </div>
        <div class="span6">
            股票代码2：
            <div class="input-append input-group btn-group">
                <input type="text" class="stockcode" name="instrument_2">
                <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <!-- dropdown menu links -->
                </ul>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6">
            投入资金：<input type="text" placeholder="" name="cash">
        </div>
        <div class="span6">
            手续费率：<input type="text" placeholder="" name="commission">
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6">
            策略名称：<input type="text" placeholder="" name="strategy_name">
        </div>
        {#        <div class="span6">#}
        {#            回测结束日期：<input type="date" placeholder="" name="edate">#}
        {#        </div>#}
    </div>
</form>
<div class="row-fluid">
    <button class="btn btn-primary submit" style="float: right">提交</button>
</div>

<script>
    $(".stockcode").bsSuggest({
        indexKey: 1,
        allowNoKeyword: false,
        getDataMethod: "url",
        showBtn: true,
        url: '{{url_for("restfulapi.stock_code",q="")}}',
        processData: function (json) {     // url 获取数据时，对数据的处理，作为 getData 的回调函数
            var i, len, data = {value: []};
            if (!json || !json.stockcode || json.stockcode.length == 0) {
                return false;
            }
            len = json.stockcode.length;
            for (i = 0; i < len; i++) {
                data.value.push({
                    "Id": (i + 1),
                    "stockcode": json.stockcode[i],
                    "stockname": json.stockname[i],
                });
            }
            console.log(data)
            return data;
        }
    });
</script>