{% extends "stock_base.html" %}
{% block current_user %}
    当前用户：{{ current_user.username }}
{% endblock %}

{% block body %}
    {#    <div>#}
    <div class="span9">
        <div class="content">
            <div class="btn-controls">
    {% block tab %}{% endblock %}
    <br>
    <div id="myTabContent">
        <div id="basics" style="height:70%;overflow-y:auto;">
            {% block table %}{% endblock %}
        </div>
    </div>
    {% block navigation %} {% endblock %}
        </div>
    </div>
    </div>

{% endblock %}

<SCRIPT Language=VBScript><!--

//-->
</SCRIPT>