<html>
<head>
    <meta charset='utf-8'>

    <script type="text/javascript" src="{{ url_for('static',filename='js/jquery-2.0.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/jquery-ui') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/echarts.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/china.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static',filename='DataTables-1.10.15/media/js/jquery.dataTables.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static',filename='DataTables-1.10.15/fixedcolumns/js/dataTables.fixedColumns.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='icheck/icheck.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static',filename='bootstrap_datetimepicker/js/bootstrap-datetimepicker.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static',filename='bootstrap_select/js/bootstrap-select.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap-suggest.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/jquery.cookie.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/nav.js') }}"></script>

    <link href="{{ url_for('static',filename='bootstrap_select/css/bootstrap-select.css') }}" rel="stylesheet"
          type="text/css">
    <link href="{{ url_for('static',filename='bootstrap_datetimepicker/css/bootstrap-datetimepicker.css') }}"
          rel="stylesheet" type="text/css">
    <link href="{{ url_for('static',filename='icheck/skins/minimal/blue.css') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="http://jqueryui.com/resources/demos/style.css">
    <link href="{{ url_for('static',filename='DataTables-1.10.15/media/css/jquery.dataTables.css') }}" rel="stylesheet"
          type="text/css">
    <link href="{{ url_for('static',filename='DataTables-1.10.15/fixedcolumns/css/fixedColumns.dataTables.css') }}"
          rel="stylesheet" type="text/css">
    <!--链接本地文件的写法，css和js的写法不一样 ps:还有一个js文件在上面-->
    <link href="{{ url_for('static',filename='css/loader.min.css') }}"
          rel="stylesheet" type="text/css">

    {#    library for new  templates#}
    <link href="{{ url_for('static',filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static',filename='bootstrap/css/bootstrap-responsive.min.css') }}" rel="stylesheet"
          media="screen">
    <link href="{{ url_for('static',filename='css/nav.css') }}" rel="stylesheet" media="screen">
    <link type="text/css" href="{{ url_for('static',filename='css/theme.css') }}" rel="stylesheet">
    <link type="text/css" href="{{ url_for('static',filename='images/icons/css/font-awesome.css') }}" rel="stylesheet">
    <link type="text/css" href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600'
          rel='stylesheet'>
    <!--自动补全-->

    <script>
        $(function () {
            var availableTags =
                [{% for x in list_len %} <!--这里直接写range(list_len)不行，会在返回功能主页时出错"list_len is undefined"-->
                    {% for i in (0,1) %}
                        "{{ rs[x][i] }}",
                    {% endfor %}
                {% endfor %}];
            $("#tags").autocomplete({
                source: availableTags
            });
        });
    </script>
    <!--锁定行列的js文件-->
    <script type="text/javascript" src="{{ url_for('static',filename='js/tableHeadFixer.js') }}"></script>
    <!--js的分页方法，用于industry_analysis/annual_table.html-->
    <script type="text/javascript" src="{{ url_for('static',filename='js/jquery.pagination.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/china.js') }}"></script>

    {% block fixTable %}{% endblock %}
    <style>
        * {
            font-family: "Times New Roman";
            font-size: 12px;
        }

        .td_num {
            text-align: right;
            border-style: none;
        }

        .td_num_2 {
            text-align: left;
            border-style: none;
        }

        .td_project {
            text-align: left;
            border-left-style: none;
            border-top-style: none;
            border-bottom-style: none;
        }

        .td_bottom_line {
            text-align: right;
            border-left-style: none;
            border-top-style: none;
            border-right-style: none;
        }

        .td_bottom_line_title {
            text-align: left;
            border-left-style: none;
            border-top-style: none;
            border-right-style: none;
        }

        .td_bottom_line_title_2 {
            text-align: left;
            border-left-style: none;
            border-top-style: none;
        }

        {# 这行有什么用 #}
        .leftbox {
            width: 15%;
            height: 100%;
            float: left;

        }

        .rightbox {
            width: 80%;
            height: 100%;
            float: left;

        }

        thead, th, td {
            white-space: nowrap !important;
        }

        #temptable {
            table-layout: inherit;
            width: 100px;
        }
    </style>
    {% block styles %}{% endblock %}
</head>
<body>

{#<nav class="navbar navbar-inverse " role="navigation">#}
{#    <div class="container-fluid">#}
{#        <div class="navbar-header">#}
{#            <img src="../static/logo_white_test.png">#}
{#        </div><!--OK-->#}
{#        <div>#}
{#            <a class="navbar-brand" href="#">金融投资分析系统</a>#}
{#        </div>#}
{#        <div class="pull-right">#}
{#            <ul class="nav navbar-nav">#}
{#                <li><a>{% block current_user %}{% endblock %}</a></li> <!--不套a标签就不显示当前用户为什么-->#}
{##}
{#                <li class="dropdown">#}
{#                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">#}
{#                        账户设置 <b class="caret"></b>#}
{#                    </a>#}
{#                    <ul class="dropdown-menu">#}
{#                        <li><a href="#">设置</a></li>#}
{#                        <li>#}
{#                            <a href="{{ url_for('main.personal') }}">个人信息</a>#}
{#                        </li>#}
{#                        <li class="divider"></li>#}
{#                        <li><a href="{{ url_for('main.logout') }}">注销退出</a></li>#}
{#                    </ul>#}
{#                </li>#}
{#                <li><a href="{{ url_for('stock.home') }}">返回主页</a></li>#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}
{#</nav>#}
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                <i class="icon-reorder shaded"></i></a><a class="brand" href="index.html">Merit </a>
            <div class="nav-collapse collapse navbar-inverse-collapse">
                <ul class="nav nav-icons">
                    <li class="active"><a href="#"><i class="icon-envelope"></i></a></li>
                    <li><a href="#"><i class="icon-eye-open"></i></a></li>
                    <li><a href="#"><i class="icon-bar-chart"></i></a></li>
                </ul>

                {##}
                {#                        <form class="navbar-search pull-left input-append" action="#">#}
                {#                        <input type="text" class="span3">#}
                {#                        <button class="btn" type="button">#}
                {#                            <i class="icon-search"></i>#}
                {#                        </button>#}
                {#                        </form>#}

                {% block searchForm %}{% endblock %}


                <ul class="nav pull-right">
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">功能导航
                        <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">财务分析</a></li>
                            <li><a href="#">量化模型</a></li>
                            <li class="divider"></li>
                            <li><a href="#">交易系统</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ url_for('stock.home') }}">返回主页 </a></li>
                    <li class="nav-user dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="{{ url_for('static',filename='images/user.png') }}" class="nav-avatar"/>
                        <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('main.personal') }}">个人信息</a></li>
                            <li><a href="#">编辑资料</a></li>
                            <li><a href="#">账户设置</a></li>
                            <li class="divider"></li>
                            <li><a href={{ url_for('main.logout') }}>退出登录</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.nav-collapse -->
        </div>
    </div>
    <!-- /navbar-inner -->
</div>

<div class="wrapper">
    <div class="container">
        <div class="row" style="height: auto">
            <div class="span3">
                <div class="sidebar">
                    <ul class="widget widget-menu unstyled">
                        <li class="active"><a href="{{ url_for('stock.home') }}"><i
                                class="menu-icon icon-dashboard"></i>我的账户
                        </a></li>
                        <!--关注股票的综合面板-->
                        <li><a href="{{ url_for('main.my_favoritecode') }}"><i class="menu-icon icon-bullhorn"></i>我的关注股票</a>
                        </li>
                        <li><a href="{{ url_for('stock.myposition') }}"><i class="menu-icon icon-paste"></i>当前持仓 </a>
                        </li>
                        <li><a href="message.html"><i class="menu-icon icon-inbox"></i>我的消息 <b
                                class="label green pull-right">
                            11</b> </a></li>
                        <li><a href="task.html"><i class="menu-icon icon-tasks"></i>系统消息 <b
                                class="label orange pull-right">
                            19</b> </a></li>
                    </ul>
                    <!--/.widget-nav-->


                    <ul class="widget widget-menu unstyled">
                        <li><a class="collapsed" data-toggle="collapse" href="#togglePages"><i
                                class="menu-icon icon-cog">
                        </i><i class="icon-chevron-down pull-right"></i><i class="icon-chevron-up pull-right">
                        </i>财务分析 </a>
                            <ul id="togglePages" class="collapse unstyled">
                                <li><a href="{{ url_for('stock_solo.basic') }}"><i class="icon-inbox"></i>股票个体分析 </a></li>
                                <li><a href="{{ url_for('stock_group.navigation') }}"><i class="icon-inbox"></i>股票总体概览 </a></li>
                                <li><a href="{{ url_for('industry_analysis.mymark') }}"><i class="icon-inbox"></i>整体行业状况分析 </a></li>
                                <li><a href="{{ url_for('stock_solo.basic') }}"><i class="icon-inbox"></i>投资分类评级 </a></li>
                            </ul>
                        </li>
                        <li><a href="ui-button-icon.html"><i class="menu-icon icon-bold"></i> 财务分析 </a></li>

                        <li><a href="ui-typography.html"><i class="menu-icon icon-book"></i> 量化模型 </a></li>

                        <li><a href="table.html"><i class="menu-icon icon-table"></i>交易模型 </a></li>
                        <!--<li><a href="charts.html"><i class="menu-icon icon-bar-chart"></i>Charts </a></li>-->
                    </ul>
                    <!--/.widget-nav-->
                    <ul class="widget widget-menu unstyled">

                        <li><a href="{{ url_for('main.logout') }}"><i class="menu-icon icon-signout"></i>退出登录 </a></li>
                    </ul>
                </div>
                <!--/.sidebar-->
            <div class="sidebar">
                            {% block map %}{% endblock %}
                        </div>
                {% block left %}{% endblock %}

            </div>
            <!--/.span3-->
            {% block body %}{% endblock %}
            <!--/.span9-->
        </div>
        {% block bottombody %}{% endblock %}
    </div>
    <!--/.container-->
</div>
</body>
{% block JavaScripts %}{% endblock %}
</html>
