{% if current_user.is_authenticated %}
    {% extends "stock_base.html" %}
{% else %}
    {% extends "stock_base_visitor.html" %}
{% endif %}
{% block current_user %}
    {{ current_user.username }}
{% endblock %}

{% block body %}
    <div class="span9">
        {% block tab %}{% endblock %}
        {% block form %} {% endblock %}
        {% block industry %}{% endblock %}
    </div>
        <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
        <div class="load_title">Loading<br><span>V1.0</span></div>
    </div>
{% endblock %}
{% block JavaScripts %}

{% block scripts %}
{% endblock %}
{% endblock %}
<SCRIPT Language=VBScript><!--
//--></SCRIPT>